In [1]:
import pandas as pd

mha_characters = pd.read_csv('mha_names')

characters = pd.read_csv('charactersviadate.csv')
characters

                                names        dates
0                       Aizawa Shouta  30 Mar 2023
1                      Midoriya Izuku  30 Mar 2023
2                     Bakugou Katsuki  30 Mar 2023
3            Nedzu (My Hero Academia)  30 Mar 2023
4                     Shinsou Hitoshi  30 Mar 2023
...                               ...          ...
17836                  Uraraka Ochako  01 Apr 2023
17837                      Tenya IIda  01 Apr 2023
17838                Enjiro Kirishima  01 Apr 2023
17839                 Todoroki Shouto  01 Apr 2023
17840  whoever i feel like adding lol  02 Apr 2023

[17841 rows x 2 columns]

In [2]:
character_mha = []
def pullcharacter(names, char_date):
    character_mha.append(names)
    names = pd.DataFrame([s for s in char_date if any(xs in s[0] for xs in names)])
    names.columns = ['name', 'date']
    print(names['name'].value_counts())
    return(names)

In [3]:
char_date = characters.values.tolist()
char_date

[['Aizawa Shouta', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Bakugou Katsuki', '30 Mar 2023'],
 ['Nedzu (My Hero Academia)', '30 Mar 2023'],
 ['Shinsou Hitoshi', '30 Mar 2023'],
 ['Kirishima Eijirou', '30 Mar 2023'],
 ['Kaminari Denki', '30 Mar 2023'],
 ['Sero Hanta', '30 Mar 2023'],
 ['Ashido Mina', '30 Mar 2023'],
 ['Asui Tsuyu', '30 Mar 2023'],
 ['Iida Tenya', '30 Mar 2023'],
 ['Todoroki Shouto', '30 Mar 2023'],
 ['Uraraka Ochako', '30 Mar 2023'],
 ['Shouji Mezou', '30 Mar 2023'],
 ['Tokoyami Fumikage', '30 Mar 2023'],
 ['Dark Shadow (My Hero Academia)', '30 Mar 2023'],
 ['Aoyama Yuuga', '30 Mar 2023'],
 ['Hagakure Tooru', '30 Mar 2023'],
 ['Ojiro Mashirao', '30 Mar 2023'],
 ['Satou Rikidou', '30 Mar 2023'],
 ['Yaoyorozu Momo', '30 Mar 2023'],
 ['Toga Himiko', '30 Mar 2023'],
 ['Mineta Minoru', '30 Mar 2023'],
 ['Jirou Kyouka', '30 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '30 Mar 2023'],
 ['Class 1-B (My Hero Academia)', '30 Mar 2023'],
 ['Aizawa Shouta', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Yagi Toshinori | All Might', '30 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '30 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '30 Mar 2023'],
 ['Nedzu (My Hero Academia)', '30 Mar 2023'],
 ['Tsukauchi Naomasa', '30 Mar 2023'],
 ['Shuuzenji Chiyo | Recovery Girl', '30 Mar 2023'],
 ['Kayama Nemuri | Midnight', '30 Mar 2023'],
 ['Midoriya Inko', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '28 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '28 Mar 2023'],
 ['Bakugou Katsuki', '28 Mar 2023'],
 ['Ashido Mina', '28 Mar 2023'],
 ['Kirishima Eijirou', '28 Mar 2023'],
 ['Sero Hanta', '28 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '28 Mar 2023'],
 ['Original Female Character(s)', '28 Mar 2023'],
 ['Midoriya Izuku', '28 Mar 2023'],
 ['Todoroki Shouto', '28 Mar 2023'],
 ['Yaoyorozu Momo', '28 Mar 2023'],
 ['Asui Tsuyu', '28 Mar 2023'],
 ['Nico di Angelo', '28 Mar 2023'],
 ['Kaminari Denki', '28 Mar 2023'],
 ['Jirou Kyouka', '28 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Kirishima Eijirou', '31 Mar 2023'],
 ['Dabi | Todoroki Touya', '31 Mar 2023'],
 ['Takami Keigo | Hawks', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Bakugou Katsuki', '01 Apr 2023'],
 ['Kirishima Eijirou', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Original Female Character(s)', '01 Apr 2023'],
 ['Todoroki Shouto', '01 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '28 Mar 2023'],
 ['Bakugou Katsuki', '28 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '28 Mar 2023'],
 ['Yagi Toshinori | All Might', '28 Mar 2023'],
 ['Shinsou Hitoshi', '28 Mar 2023'],
 ['Todoroki Shouto', '28 Mar 2023'],
 ['Eri (My Hero Academia)', '28 Mar 2023'],
 ['Kirishima Eijirou', '28 Mar 2023'],
 ['Tokoyami Fumikage', '28 Mar 2023'],
 ['Dark Shadow (My Hero Academia)', '28 Mar 2023'],
 ['Ashido Mina', '28 Mar 2023'],
 ['Kaminari Denki', '28 Mar 2023'],
 ['Sero Hanta', '28 Mar 2023'],
 ['Jirou Kyouka', '28 Mar 2023'],
 ['Monoma Neito', '28 Mar 2023'],
 ['Midoriya Izuku', '28 Mar 2023'],
 ['Yaoyorozu Momo', '28 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '28 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Bibi | Zombie', '30 Mar 2023'],
 ['Shinsou Hitoshi', '30 Mar 2023'],
 ['Mentioned Nedzu - Character', '30 Mar 2023'],
 ['mentioned Yamada Hizashi | Present Mic - Character', '30 Mar 2023'],
 ['Ishida Asuka | Lullaby', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Chisaki Kai | Overhaul', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Kurono Hari | Chronostasis', '31 Mar 2023'],
 ['Yagi Toshinori | All Might', '31 Mar 2023'],
 ['Todoroki Enji | Endeavor', '31 Mar 2023'],
 ['Dabi (My Hero Academia)', '31 Mar 2023'],
 ['Takami Keigo | Hawks', '31 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '31 Mar 2023'],
 ['Various BNHA Characters', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '02 Apr 2023'],
 ['Class 1-A (My Hero Academia)', '02 Apr 2023'],
 ['Aoyama Yuuga', '02 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Fukukado Emi | Ms. Joke', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '02 Apr 2023'],
 ['Fukukado Emi | Ms. Joke', '02 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '02 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Hyuuga Hinata', '01 Apr 2023'],
 ['Tsukauchi Naomasa', '01 Apr 2023'],
 ['Yagi Toshinori | All Might', '01 Apr 2023'],
 ['Nedzu (My Hero Academia)', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Bakugou Katsuki', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Kayama Nemuri | Midnight', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Midoriya Inko', '31 Mar 2023'],
 ['Nedzu (My Hero Academia)', '31 Mar 2023'],
 ['Shuuzenji Chiyo | Recovery Girl', '31 Mar 2023'],
 ['Original Male Character(s)', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Kayama Nemuri | Midnight', '30 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '30 Mar 2023'],
 ['The Ouran High School Host Club', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '28 Mar 2023'],
 ['Kochou Shinobu', '28 Mar 2023'],
 ['Amajiki Tamaki', '28 Mar 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '28 Mar 2023'],
 ['Kurogiri (My Hero Academia)', '28 Mar 2023'],
 ['Douma (Kimetsu no Yaiba)', '28 Mar 2023'],
 ['Rengoku Kyoujurou', '28 Mar 2023'],
 ['Yushiro (Kimetsu no Yaiba)', '28 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '28 Mar 2023'],
 ['Hadou Nejire', '28 Mar 2023'],
 ['Toogata Mirio', '28 Mar 2023'],
 ['Dabi | Todoroki Touya', '28 Mar 2023'],
 ['Akaguro Chizome | Stain', '28 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Ashido Mina', '30 Mar 2023'],
 ['Sero Hanta', '30 Mar 2023'],
 ['Kaminari Denki', '30 Mar 2023'],
 ['Yagi Toshinori | All Might', '30 Mar 2023'],
 ['Bakugou Mitsuki', '30 Mar 2023'],
 ['Bakugou Masaru', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Midoriya Izuku', '29 Mar 2023'],
 ['Bakugou Katsuki', '29 Mar 2023'],
 ['Shinsou Hitoshi', '29 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '29 Mar 2023'],
 ['Александр Духовенов', '29 Mar 2023'],
 ['Иван(Иванна) Зелен', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Bakugou Katsuki', '30 Mar 2023'],
 ['Todoroki Shouto', '30 Mar 2023'],
 ['Yagi Toshinori | All Might', '30 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '30 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '30 Mar 2023'],
 ['Asui Tsuyu', '30 Mar 2023'],
 ['Uraraka Ochako', '30 Mar 2023'],
 ['Tokoyami Fumikage', '30 Mar 2023'],
 ['Toogata Mirio', '30 Mar 2023'],
 ['Eri (My Hero Academia)', '30 Mar 2023'],
 ['Kayama Nemuri | Midnight', '30 Mar 2023'],
 ['Ectoplasm (My Hero Academia)', '30 Mar 2023'],
 ['Ishiyama Ken | Cementoss', '30 Mar 2023'],
 ['Kirishima Eijirou', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Bakugou Katsuki', '30 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Bakugou Katsuki', '30 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '30 Mar 2023'],
 ['Midoriya Inko', '30 Mar 2023'],
 ['Nezu', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Yagi Toshinori | All Might', '31 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '31 Mar 2023'],
 ['Shinsou Hitoshi', '31 Mar 2023'],
 ['Todoroki Shouto', '31 Mar 2023'],
 ['Kaminari Denki', '31 Mar 2023'],
 ['Sero Hanta', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Class 1-A (My Hero Academia)', '01 Apr 2023'],
 ['Bakugou Katsuki', '01 Apr 2023'],
 ['Todoroki Shouto', '01 Apr 2023'],
 ['Shinsou Hitoshi', '01 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '01 Apr 2023'],
 ['Shirakumo Oboro', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Midoriya Inko', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Todoroki Shouto', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Midoriya Hisashi', '31 Mar 2023'],
 ['Tsukauchi Naomasa', '31 Mar 2023'],
 ['Yagi Toshinori | All Might', '31 Mar 2023'],
 ['Nedzu (My Hero Academia)', '31 Mar 2023'],
 ['Shinsou Hitoshi', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Midoriya Inko', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Yagi Toshinori | All Might', '31 Mar 2023'],
 ['Nedzu (My Hero Academia)', '31 Mar 2023'],
 ['cat with quirk', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '28 Mar 2023'],
 ['Midoriya Izuku', '28 Mar 2023'],
 ['Midoriya Inko', '28 Mar 2023'],
 ['Bakugou Katsuki', '28 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '28 Mar 2023'],
 ['Dabi (My Hero Academia)', '28 Mar 2023'],
 ['Toga Himiko', '28 Mar 2023'],
 ['Tsukauchi Naomasa', '28 Mar 2023'],
 ['Kayama Nemuri | Midnight', '28 Mar 2023'],
 ['Nedzu (My Hero Academia)', '28 Mar 2023'],
 ['Bakugou Mitsuki', '28 Mar 2023'],
 ['Yagi Toshinori | All Might', '28 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '28 Mar 2023'],
 ['Hatsume Mei', '28 Mar 2023'],
 ['Shinsou Hitoshi', '28 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Nedzu (My Hero Academia)', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Original Characters', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Nezu', '01 Apr 2023'],
 ['Yagi Toshinori | All Might', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '02 Apr 2023'],
 ['Midoriya Izuku', '02 Apr 2023'],
 ['Shinsou Hitoshi', '02 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '02 Apr 2023'],
 ['Shirakumo Oboro', '02 Apr 2023'],
 ['Kayama Nemuri | Midnight', '02 Apr 2023'],
 ['Iida Tensei | Ingenium', '02 Apr 2023'],
 ['Midoriya Inko', '02 Apr 2023'],
 ['Bakugou Katsuki', '02 Apr 2023'],
 ["Bakugou Katsuki's Parents", '02 Apr 2023'],
 ['Ashido Mina', '02 Apr 2023'],
 ["Ashido Mina's Family", '02 Apr 2023'],
 ['Hatsume Mei', '02 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Tsukauchi Naomasa', '01 Apr 2023'],
 ['Doctors - Character', '01 Apr 2023'],
 ['Nurses - Character', '01 Apr 2023'],
 ["they're really only mentioned tho", '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Tsukauchi Naomasa', '01 Apr 2023'],
 ['Midoriya Inko', '01 Apr 2023'],
 ['Bakugou Mitsuki', '01 Apr 2023'],
 ['Bakugou Katsuki', '01 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '01 Apr 2023'],
 ['Kayama Nemuri | Midnight', '01 Apr 2023'],
 ['Iida Tensei | Ingenium', '01 Apr 2023'],
 ['Other Character Tags to Be Added', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Tsukauchi Naomasa', '31 Mar 2023'],
 ['Nedzu (My Hero Academia)', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Tsukauchi Naomasa', '01 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Yagi Toshinori | All Might', '01 Apr 2023'],
 ['Death Arms (My Hero Academia)', '01 Apr 2023'],
 ['Takeyama Yuu | Mount Lady', '01 Apr 2023'],
 ['Nishiya Shinji | Kamui Woods', '01 Apr 2023'],
 ['Kamihara Shinya | Edgeshot', '01 Apr 2023'],
 ['Slugger (My Hero Academia)', '01 Apr 2023'],
 ['Uraraka Ochako', '01 Apr 2023'],
 ['Iida Tenya', '01 Apr 2023'],
 ['Asui Tsuyu', '01 Apr 2023'],
 ['Todoroki Shouto', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Midoriya Izuku', '29 Mar 2023'],
 ['Yagi Toshinori | All Might', '29 Mar 2023'],
 ['Midoriya Inko', '29 Mar 2023'],
 ['Bakugou Katsuki', '29 Mar 2023'],
 ['Aoyama Yuuga', '29 Mar 2023'],
 ['Chisaki Kai | Overhaul', '29 Mar 2023'],
 ['Akaguro Chizome | Stain', '29 Mar 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '29 Mar 2023'],
 ['Sensei | All For One', '29 Mar 2023'],
 ['Gran Torino (My Hero Academia)', '29 Mar 2023'],
 ['Tsukauchi Naomasa', '29 Mar 2023'],
 ['Shinsou Hitoshi', '29 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '29 Mar 2023'],
 ['Nedzu (My Hero Academia)', '29 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '29 Mar 2023'],
 ['Kayama Nemuri | Midnight', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Kirishima Eijirou', '31 Mar 2023'],
 ['Hatsume Mei', '31 Mar 2023'],
 ['Shinsou Hitoshi', '31 Mar 2023'],
 ['Kaminari Denki', '31 Mar 2023'],
 ['Todoroki Shouto', '31 Mar 2023'],
 ['Uraraka Ochako', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Midoriya Izuku', '29 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '29 Mar 2023'],
 ['Chisaki Kai | Overhaul', '29 Mar 2023'],
 ['Sensei | All For One', '29 Mar 2023'],
 ["Aizawa Shouta | Eraserhead's Evergrowing Suffering", '29 Mar 2023'],
 ['Additional Character Tags To Be Added - Character', '29 Mar 2023'],
 ['Akaguro Chizome | Stain', '29 Mar 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '29 Mar 2023'],
 ["Aizawa Shouta | Eraserhead's Gradual Loss Of His Will To Live",
  '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Kayama Nemuri | Midnight', '31 Mar 2023'],
 ['Midoriya Inko', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Nara Shikako', '01 Apr 2023'],
 ['Class 1-A (My Hero Academia)', '01 Apr 2023'],
 ['Hero Public Safety Commission President (My Hero Academia)', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Original Female Character(s)', '30 Mar 2023'],
 ['Nezu', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '02 Apr 2023'],
 ['Reader', '02 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Reader', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Reader', '29 Mar 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '29 Mar 2023'],
 ['Dabi (My Hero Academia)', '29 Mar 2023'],
 ['Toga Himiko', '29 Mar 2023'],
 ['Original Characters', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Roy Mustang', '31 Mar 2023'],
 ['Edward Elric', '31 Mar 2023'],
 ['Team Mustang', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Sensei | All For One', '01 Apr 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '01 Apr 2023'],
 ['Kurogiri (My Hero Academia)', '01 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '01 Apr 2023'],
 ['Class 1-A (mentioned)', '01 Apr 2023'],
 ['League of Villains (My Hero Academia)', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '02 Apr 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '02 Apr 2023'],
 ["Aizawa Shouta | Eraserhead's Parents", '02 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '02 Apr 2023'],
 ['Kayama Nemuri | Midnight', '02 Apr 2023'],
 ['Dabi | Todoroki Touya', '02 Apr 2023'],
 ['Fukukado Emi | Ms. Joke', '02 Apr 2023'],
 ['Iida Tensei | Ingenium', '02 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Shinsou Hitoshi', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '28 Mar 2023'],
 ['Shinsou Hitoshi', '28 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Shinsou Hitoshi', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Shirakumo Oboro', '01 Apr 2023'],
 ['Shinsou Hitoshi', '01 Apr 2023'],
 ["Shinsou Hitoshi's Family", '01 Apr 2023'],
 ['Chisaki Kai | Overhaul', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Shirakumo Oboro', '01 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '01 Apr 2023'],
 ['Iida Tensei | Ingenium', '01 Apr 2023'],
 ['Kayama Nemuri | Midnight', '01 Apr 2023'],
 ['Minor Original Female Character', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Shirakumo Oboro', '29 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '29 Mar 2023'],
 ['Kayama Nemuri | Midnight', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Shuuzenji Chiyo | Recovery Girl', '31 Mar 2023'],
 ['Midoriya Inko', '31 Mar 2023'],
 ['Todoroki Enji | Endeavor', '31 Mar 2023'],
 ['Fukukado Emi | Ms. Joke', '31 Mar 2023'],
 ['Shiketsu High Students (My Hero Academia)', '31 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Todoroki Enji | Endeavor', '30 Mar 2023'],
 ['Todoroki Shouto', '30 Mar 2023'],
 ['Dabi | Todoroki Touya', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Todoroki Rei', '29 Mar 2023'],
 ['Todoroki Shouto', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Todoroki Shouto', '31 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '31 Mar 2023'],
 ['Eri (My Hero Academia)', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Todoroki Shouto', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Kirishima Eijirou', '31 Mar 2023'],
 ['Kaminari Denki', '31 Mar 2023'],
 ['Asui Tsuyu', '31 Mar 2023'],
 ['Uraraka Ochako', '31 Mar 2023'],
 ['Yaoyorozu Momo', '31 Mar 2023'],
 ['Iida Tenya', '31 Mar 2023'],
 ['Todoroki Enji | Endeavor', '31 Mar 2023'],
 ['Hiccup Horrendous Haddock III', '31 Mar 2023'],
 ['Astrid Hofferson', '31 Mar 2023'],
 ['Snotlout Jorgenson', '31 Mar 2023'],
 ['Fishlegs Ingerman', '31 Mar 2023'],
 ['Ruffnut Thorston', '31 Mar 2023'],
 ['Tuffnut Thorston', '31 Mar 2023'],
 ["Kaminari Denki's Family", '31 Mar 2023'],
 ['Shoji Mezo', '31 Mar 2023'],
 ['Koji Koda', '31 Mar 2023'],
 ['Tokoyami Fumikage', '31 Mar 2023'],
 ['Mineta Minoru', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Todoroki Shouto', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Tsukauchi Naomasa', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Bakugou Katsuki', '30 Mar 2023'],
 ['Original Characters', '30 Mar 2023'],
 ['Original Female Character(s)', '30 Mar 2023'],
 ['Original Child Character(s)', '30 Mar 2023'],
 ['Tamakawa Sansa', '30 Mar 2023'],
 ['Yagi Toshinori | All Might', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Tsukauchi Naomasa', '29 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '29 Mar 2023'],
 ['Takagi Ken | Rock Lock', '29 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '29 Mar 2023'],
 ['U.A. Faculty (My Hero Academia)', '29 Mar 2023'],
 ["U.A.'s Big Three (My Hero Academia)", '29 Mar 2023'],
 ['Chisaki Kai | Overhaul', '29 Mar 2023'],
 ['Eri (My Hero Academia)', '29 Mar 2023'],
 ['League of Villains (My Hero Academia)', '29 Mar 2023'],
 ['Sensei | All For One', '29 Mar 2023'],
 ['Musutafu Police Department Officers (My Hero Academia)', '29 Mar 2023'],
 ['Fukukado Emi | Ms. Joke', '29 Mar 2023'],
 ['Pro Heroes (My Hero Academia)', '29 Mar 2023'],
 ['Shinsou Hitoshi', '29 Mar 2023'],
 ['Kaniyashiki Monika', '29 Mar 2023'],
 ['Yagi Toshinori | All Might', '29 Mar 2023'],
 ["Shinsou Hitoshi's Family", '29 Mar 2023'],
 ['Hagakure Tooru', '29 Mar 2023'],
 ["Hagakure Tooru's Parents", '29 Mar 2023'],
 ['Dr. Kyudai Garaki', '29 Mar 2023'],
 ['Midoriya Izuku', '29 Mar 2023'],
 ['Midoriya Inko', '29 Mar 2023'],
 ['Yaoyorozu Momo', '29 Mar 2023'],

In [4]:
mhas = mha_characters['0'].values.tolist()
mhas = [i.split(' ') for i in mhas]
mha = []

for sublist in mhas:
    for element in sublist:
        mha.append(element)

In [5]:
dont_want = ['Parents', 'Suffering', 'Loss Of His Will', 'Niece', 'mentioned', 'Family', 'Notebooks', 'Character', 'quirk', 'Friend', 'Werewolf', 'Prototype', 'Mother', 'Sibling', 'Sidekicks', 'l Jade']

In [6]:
mha_char = pullcharacter(mha, char_date)
value = mha_char['name'].value_counts()

Midoriya Izuku                       1306
Bakugou Katsuki                      1052
Aizawa Shouta | Eraserhead            813
Todoroki Shouto                       630
Yagi Toshinori | All Might            521
                                     ...
Konoe A. Mercury | Nine                 1
Yukina (YuYu Hakusho)                   1
Asui Beru                               1
Female Midoriya Izuku - Character       1
Enjiro Kirishima                        1
Name: name, Length: 553, dtype: int64

In [7]:
character_mha = []

In [8]:
Aizawa = ['Aizawa', 'Shotua', 'Eraserhead']
pullcharacter(Aizawa, char_date)
# do not want parents, suffering, loss, niece, mentioned, or family

Aizawa Shouta | Eraserhead                                       813
Aizawa Shouta                                                      2
Aizawa Shouta | Eraserhead's Parents                               2
Aizawa Shouta | Eraserhead's Evergrowing Suffering                 1
Aizawa Shouta | Eraserhead's Gradual Loss Of His Will To Live      1
Aizawa's Niece                                                     1
Aizawa Shota                                                       1
Aizawa Shouta | Eraserhead (mentioned)                             1
Aizawa Shouta | Eraserhead's Family                                1
Name: name, dtype: int64

                           name         date
0                 Aizawa Shouta  30 Mar 2023
1                 Aizawa Shouta  30 Mar 2023
2    Aizawa Shouta | Eraserhead  01 Apr 2023
3    Aizawa Shouta | Eraserhead  01 Apr 2023
4    Aizawa Shouta | Eraserhead  28 Mar 2023
..                          ...          ...
818  Aizawa Shouta | Eraserhead  28 Mar 2023
819  Aizawa Shouta | Eraserhead  01 Apr 2023
820  Aizawa Shouta | Eraserhead  01 Apr 2023
821  Aizawa Shouta | Eraserhead  28 Mar 2023
822  Aizawa Shouta | Eraserhead  01 Apr 2023

[823 rows x 2 columns]

In [9]:
Izuku = ['Deku', 'Midoriya Izuku', 'Izuku']
pullcharacter(Izuku, char_date)
# do not want mentioned, quirk, l jade, kazuki, jango, analysis notebook, imari, femail, itsumi, haru, inko, hisashi

Midoriya Izuku                         1306
Midoriya Izuku's Family                  26
Izuku Midoriya                            7
Midoriya Izuku (mentioned)                2
Midoriya Izuku's Analysis Notebooks       1
Female Midoriya Izuku - Character         1
Izuku Midoriya's quirk                    1
Midoriya Izuku l Jade                     1
Deku                                      1
Name: name, dtype: int64

                name         date
0     Midoriya Izuku  30 Mar 2023
1     Midoriya Izuku  30 Mar 2023
2     Midoriya Izuku  28 Mar 2023
3     Midoriya Izuku  01 Apr 2023
4     Midoriya Izuku  28 Mar 2023
...              ...          ...
1341  Midoriya Izuku  28 Mar 2023
1342            Deku  30 Mar 2023
1343  Midoriya Izuku  02 Apr 2023
1344  Midoriya Izuku  01 Apr 2023
1345  Izuku Midoriya  01 Apr 2023

[1346 rows x 2 columns]

In [10]:
bakugo = ['Katsuki', 'Bakugou Katsuki', 'Bakugo Katsuki', 'Katsuki Bakugou']
pullcharacter(bakugo, char_date)
# dont want parents, family, undercut, prototype, mentioned, oc, friend with the stretchy, werewolf, masaru, mitsuki, yuuri

Bakugou Katsuki                                         1052
Bakugou Katsuki's Parents                                 33
Bakugou Katsuki's Family                                   6
Kariage | Bakugou Katsuki's Friend with the Undercut       5
Bakugo Katsuki                                             4
Katsuki Bakugou                                            2
Bakugou Katsuki Werewolf Werewolf Au                       1
Bakugou Katsuki's Friend with the Stretchy Fingers         1
Bakugou Katsuki - mentioned                                1
Mentioned Bakugou Katsuki - Character                      1
Prototype Bakugou Katsuki                                  1
Katsuki Yuuri                                              1
Name: name, dtype: int64

                 name         date
0     Bakugou Katsuki  30 Mar 2023
1     Bakugou Katsuki  28 Mar 2023
2     Bakugou Katsuki  31 Mar 2023
3     Bakugou Katsuki  01 Apr 2023
4     Bakugou Katsuki  28 Mar 2023
...               ...          ...
1103  Bakugou Katsuki  02 Apr 2023
1104  Bakugou Katsuki  31 Mar 2023
1105  Bakugou Katsuki  01 Apr 2023
1106  Bakugou Katsuki  28 Mar 2023
1107  Bakugou Katsuki  02 Apr 2023

[1108 rows x 2 columns]

In [11]:
Shoto = ['Todoroki Shoto', 'Todoroki Shouto']
pullcharacter(Shoto, char_date)

Todoroki Shouto    630
Todoroki Shoto       4
Name: name, dtype: int64

                name         date
0    Todoroki Shouto  30 Mar 2023
1    Todoroki Shouto  28 Mar 2023
2    Todoroki Shouto  01 Apr 2023
3    Todoroki Shouto  28 Mar 2023
4    Todoroki Shouto  30 Mar 2023
..               ...          ...
629  Todoroki Shouto  01 Apr 2023
630  Todoroki Shouto  28 Mar 2023
631  Todoroki Shouto  02 Apr 2023
632  Todoroki Shouto  01 Apr 2023
633  Todoroki Shouto  01 Apr 2023

[634 rows x 2 columns]

In [12]:
allmight = ['All Might']
pullcharacter(allmight, char_date)
# do not want mentioned

Yagi Toshinori | All Might    521
All Might                       4
All Might (mentioned)           1
Name: name, dtype: int64

                           name         date
0    Yagi Toshinori | All Might  30 Mar 2023
1    Yagi Toshinori | All Might  28 Mar 2023
2    Yagi Toshinori | All Might  31 Mar 2023
3    Yagi Toshinori | All Might  01 Apr 2023
4    Yagi Toshinori | All Might  30 Mar 2023
..                          ...          ...
521  Yagi Toshinori | All Might  01 Apr 2023
522  Yagi Toshinori | All Might  28 Mar 2023
523  Yagi Toshinori | All Might  28 Mar 2023
524  Yagi Toshinori | All Might  28 Mar 2023
525                   All Might  30 Mar 2023

[526 rows x 2 columns]

In [13]:
ochako = ['Ochako', 'Uraraka']
pullcharacter(ochako, char_date)
# do not want parents, family, mother or father

Uraraka Ochako              473
Uraraka Ochako's Parents     10
Uraraka Ochako's Family       2
Uraraka Ochako's Mother       1
Ochaco Uraraka                1
Uraraka Ochako's Father       1
Name: name, dtype: int64

                         name         date
0              Uraraka Ochako  30 Mar 2023
1              Uraraka Ochako  30 Mar 2023
2              Uraraka Ochako  01 Apr 2023
3              Uraraka Ochako  31 Mar 2023
4              Uraraka Ochako  31 Mar 2023
..                        ...          ...
483  Uraraka Ochako's Parents  29 Mar 2023
484            Uraraka Ochako  28 Mar 2023
485            Uraraka Ochako  02 Apr 2023
486            Uraraka Ochako  01 Apr 2023
487            Uraraka Ochako  01 Apr 2023

[488 rows x 2 columns]

In [14]:
Shinsou = ['Shinsou Hitoshi']
pullcharacter(Shinsou, char_date)
# only want the top one

Shinsou Hitoshi              412
Shinsou Hitoshi's Family       4
Shinsou Hitoshi's Parents      2
Shinsou Hitoshi's Mother       1
Name: name, dtype: int64

                name         date
0    Shinsou Hitoshi  30 Mar 2023
1    Shinsou Hitoshi  28 Mar 2023
2    Shinsou Hitoshi  30 Mar 2023
3    Shinsou Hitoshi  29 Mar 2023
4    Shinsou Hitoshi  31 Mar 2023
..               ...          ...
414  Shinsou Hitoshi  02 Apr 2023
415  Shinsou Hitoshi  28 Mar 2023
416  Shinsou Hitoshi  28 Mar 2023
417  Shinsou Hitoshi  02 Apr 2023
418  Shinsou Hitoshi  01 Apr 2023

[419 rows x 2 columns]

In [15]:
Denki = ['Denki']
pullcharacter(Denki, char_date)
# do not want family, parents, mother or father

Kaminari Denki              372
Kaminari Denki's Family      10
Kaminari Denki's Parents      5
Kaminari Denki's Mother       3
Kaminari Denki's Father       1
Denki Kaminari                1
Name: name, dtype: int64

               name         date
0    Kaminari Denki  30 Mar 2023
1    Kaminari Denki  28 Mar 2023
2    Kaminari Denki  28 Mar 2023
3    Kaminari Denki  30 Mar 2023
4    Kaminari Denki  31 Mar 2023
..              ...          ...
387  Kaminari Denki  01 Apr 2023
388  Kaminari Denki  28 Mar 2023
389  Kaminari Denki  01 Apr 2023
390  Kaminari Denki  01 Apr 2023
391  Kaminari Denki  02 Apr 2023

[392 rows x 2 columns]

In [16]:
Prezmic = ['Yamada Hizashi', 'Present Mic']
pullcharacter(Prezmic, char_date)
# dont want mentioned, parents, family, mother, father

Yamada Hizashi | Present Mic                          368
Yamada Hizashi | Present Mic's Parents                  2
Yamada Hizashi | Present Mic's Family                   2
mentioned Yamada Hizashi | Present Mic - Character      1
Yamada Hizashi | Present Mic's Mother                   1
Yamada Hizashi | Present Mic's Father                   1
Yamada Hizashi                                          1
Yamada Hizashi | Present Mic (mentioned)                1
Name: name, dtype: int64

                                                  name         date
0                         Yamada Hizashi | Present Mic  30 Mar 2023
1                         Yamada Hizashi | Present Mic  28 Mar 2023
2                         Yamada Hizashi | Present Mic  01 Apr 2023
3                         Yamada Hizashi | Present Mic  28 Mar 2023
4    mentioned Yamada Hizashi | Present Mic - Chara...  30 Mar 2023
..                                                 ...          ...
372                       Yamada Hizashi | Present Mic  28 Mar 2023
373                       Yamada Hizashi | Present Mic  28 Mar 2023
374                       Yamada Hizashi | Present Mic  02 Apr 2023
375                       Yamada Hizashi | Present Mic  28 Mar 2023
376                       Yamada Hizashi | Present Mic  01 Apr 2023

[377 rows x 2 columns]

In [17]:
Inko = ['Midoriya Inko', 'Inko']
pullcharacter(Inko, char_date)
# do not want mentioned

Midoriya Inko                          361
Midoriya Inko mentioned - Character      1
Midoriya Inko (mentioned)                1
Name: name, dtype: int64

                          name         date
0                Midoriya Inko  30 Mar 2023
1                Midoriya Inko  31 Mar 2023
2                Midoriya Inko  30 Mar 2023
3                Midoriya Inko  31 Mar 2023
4                Midoriya Inko  31 Mar 2023
..                         ...          ...
358              Midoriya Inko  29 Mar 2023
359              Midoriya Inko  31 Mar 2023
360              Midoriya Inko  30 Mar 2023
361  Midoriya Inko (mentioned)  31 Mar 2023
362              Midoriya Inko  01 Apr 2023

[363 rows x 2 columns]

In [18]:
Dabi = ['Dabi', 'Todoroki Touya']
pullcharacter(Dabi, char_date)

Dabi | Todoroki Touya      358
Dabi (My Hero Academia)     17
Todoroki Touya               6
Name: name, dtype: int64

                        name         date
0      Dabi | Todoroki Touya  31 Mar 2023
1    Dabi (My Hero Academia)  31 Mar 2023
2      Dabi | Todoroki Touya  28 Mar 2023
3    Dabi (My Hero Academia)  28 Mar 2023
4    Dabi (My Hero Academia)  29 Mar 2023
..                       ...          ...
376    Dabi | Todoroki Touya  01 Apr 2023
377    Dabi | Todoroki Touya  29 Mar 2023
378    Dabi | Todoroki Touya  29 Mar 2023
379    Dabi | Todoroki Touya  01 Apr 2023
380    Dabi | Todoroki Touya  31 Mar 2023

[381 rows x 2 columns]

In [19]:
Mina = ['Ashido Mina', 'Mina']
pullcharacter(Mina, char_date)
# dont want family and Kurama

Ashido Mina                   333
Ashido Mina's Family            1
Kurama | Minamino Shuuichi      1
Mina's Great Aunt               1
Mina                            1
Name: name, dtype: int64

            name         date
0    Ashido Mina  30 Mar 2023
1    Ashido Mina  28 Mar 2023
2    Ashido Mina  28 Mar 2023
3    Ashido Mina  30 Mar 2023
4    Ashido Mina  02 Apr 2023
..           ...          ...
332  Ashido Mina  28 Mar 2023
333  Ashido Mina  01 Apr 2023
334  Ashido Mina  02 Apr 2023
335  Ashido Mina  28 Mar 2023
336         Mina  30 Mar 2023

[337 rows x 2 columns]

In [20]:
Tenko = ['Shigaraki Tomura']
pullcharacter(Tenko, char_date)

Shigaraki Tomura | Shimura Tenko    307
Shigaraki Tomura                      2
Name: name, dtype: int64

                                 name         date
0    Shigaraki Tomura | Shimura Tenko  28 Mar 2023
1    Shigaraki Tomura | Shimura Tenko  29 Mar 2023
2    Shigaraki Tomura | Shimura Tenko  29 Mar 2023
3    Shigaraki Tomura | Shimura Tenko  29 Mar 2023
4    Shigaraki Tomura | Shimura Tenko  01 Apr 2023
..                                ...          ...
304  Shigaraki Tomura | Shimura Tenko  30 Mar 2023
305  Shigaraki Tomura | Shimura Tenko  01 Apr 2023
306  Shigaraki Tomura | Shimura Tenko  02 Apr 2023
307  Shigaraki Tomura | Shimura Tenko  29 Mar 2023
308  Shigaraki Tomura | Shimura Tenko  01 Apr 2023

[309 rows x 2 columns]

In [21]:
Iida = ['Tenya Iida', 'Iida']
pullcharacter(Iida, char_date)
# do not want family, parents, mother, sibling, mentioned

Iida Tenya                                  269
Iida Tensei | Ingenium                       37
Iida Tenya's Family                           4
Iida Tenya's Parents                          2
Iida Tenya's Mother                           2
Iida                                          1
Original Sibling Character of Iida Tenya      1
Iida Tenya(mentioned)                         1
Name: name, dtype: int64

                       name         date
0                Iida Tenya  30 Mar 2023
1    Iida Tensei | Ingenium  02 Apr 2023
2    Iida Tensei | Ingenium  01 Apr 2023
3                Iida Tenya  01 Apr 2023
4    Iida Tensei | Ingenium  02 Apr 2023
..                      ...          ...
312              Iida Tenya  01 Apr 2023
313              Iida Tenya  02 Apr 2023
314              Iida Tenya  28 Mar 2023
315              Iida Tenya  30 Mar 2023
316              Iida Tenya  01 Apr 2023

[317 rows x 2 columns]

In [22]:
Keigo = ['Takami Keigo', 'Hawks', 'Keigo']
pullcharacter(Keigo, char_date)
# do not want sidekicks, father,or parents

Takami Keigo | Hawks                262
Takami Keigo | Hawks's Sidekicks      3
Takami Keigo | Hawks's Father         2
Tamaki Keigo                          1
Takami Keigo | Hawks's Parents        1
Name: name, dtype: int64

                     name         date
0    Takami Keigo | Hawks  31 Mar 2023
1    Takami Keigo | Hawks  31 Mar 2023
2    Takami Keigo | Hawks  02 Apr 2023
3    Takami Keigo | Hawks  31 Mar 2023
4    Takami Keigo | Hawks  31 Mar 2023
..                    ...          ...
264  Takami Keigo | Hawks  01 Apr 2023
265  Takami Keigo | Hawks  01 Apr 2023
266  Takami Keigo | Hawks  29 Mar 2023
267  Takami Keigo | Hawks  28 Mar 2023
268  Takami Keigo | Hawks  31 Mar 2023

[269 rows x 2 columns]

In [23]:
Momo = ['Yaoyorozu Momo']
pullcharacter(Momo, char_date)
#  dont want parents or family or father

Yaoyorozu Momo              258
Yaoyorozu Momo's Parents      9
Yaoyorozu Momo's Family       5
Yaoyorozu Momo's Father       1
Name: name, dtype: int64

                        name         date
0             Yaoyorozu Momo  30 Mar 2023
1             Yaoyorozu Momo  28 Mar 2023
2             Yaoyorozu Momo  28 Mar 2023
3             Yaoyorozu Momo  31 Mar 2023
4             Yaoyorozu Momo  29 Mar 2023
..                       ...          ...
268           Yaoyorozu Momo  02 Apr 2023
269           Yaoyorozu Momo  29 Mar 2023
270  Yaoyorozu Momo's Family  29 Mar 2023
271           Yaoyorozu Momo  28 Mar 2023
272           Yaoyorozu Momo  02 Apr 2023

[273 rows x 2 columns]

In [24]:
Endeavor = ['Todoroki Enji']
pullcharacter(Endeavor, char_date)
# do not want family, parents, mother,or father

Todoroki Enji | Endeavor              235
Todoroki Enji | Endeavor's Parents      1
Todoroki Enji | Endeavor's Mother       1
Todoroki Enji | Endeavor's Father       1
Name: name, dtype: int64

                         name         date
0    Todoroki Enji | Endeavor  31 Mar 2023
1    Todoroki Enji | Endeavor  31 Mar 2023
2    Todoroki Enji | Endeavor  30 Mar 2023
3    Todoroki Enji | Endeavor  31 Mar 2023
4    Todoroki Enji | Endeavor  02 Apr 2023
..                        ...          ...
233  Todoroki Enji | Endeavor  30 Mar 2023
234  Todoroki Enji | Endeavor  30 Mar 2023
235  Todoroki Enji | Endeavor  29 Mar 2023
236  Todoroki Enji | Endeavor  30 Mar 2023
237  Todoroki Enji | Endeavor  02 Apr 2023

[238 rows x 2 columns]

In [25]:
Sero = ['Sero Hanta', 'Sero', 'Hanta']
pullcharacter(Sero, char_date)
# do not want family

Sero Hanta             219
Sero - Character         2
Hanta Sero               1
Sero Hana                1
Sero Hanta's Family      1
Name: name, dtype: int64

                 name         date
0          Sero Hanta  30 Mar 2023
1          Sero Hanta  28 Mar 2023
2          Sero Hanta  28 Mar 2023
3          Sero Hanta  30 Mar 2023
4          Sero Hanta  31 Mar 2023
..                ...          ...
219        Sero Hanta  01 Apr 2023
220        Sero Hanta  01 Apr 2023
221        Sero Hanta  02 Apr 2023
222        Sero Hanta  28 Mar 2023
223  Sero - Character  30 Mar 2023

[224 rows x 2 columns]

In [26]:
Jirou = ['Jirou Kyouka']
pullcharacter(Jirou, char_date)
# do not want family, or parents

Jirou Kyouka              217
Jirou Kyouka's Parents      2
Jirou Kyouka's Family       1
Name: name, dtype: int64

             name         date
0    Jirou Kyouka  30 Mar 2023
1    Jirou Kyouka  28 Mar 2023
2    Jirou Kyouka  28 Mar 2023
3    Jirou Kyouka  02 Apr 2023
4    Jirou Kyouka  28 Mar 2023
..            ...          ...
215  Jirou Kyouka  02 Apr 2023
216  Jirou Kyouka  01 Apr 2023
217  Jirou Kyouka  01 Apr 2023
218  Jirou Kyouka  02 Apr 2023
219  Jirou Kyouka  28 Mar 2023

[220 rows x 2 columns]

In [27]:
AFO = ['All For One', 'AFO', 'Hisashi Shigaraki']
pullcharacter(AFO, char_date)
# dont want parents

Sensei | All For One                                                209
All For One - Character                                               3
Sensei | All For One & Yoichi | First One For All User's Parents      2
AFO                                                                   1
Hisashi Shigaraki | All For One                                       1
BNHA All For One                                                      1
Name: name, dtype: int64

                     name         date
0    Sensei | All For One  29 Mar 2023
1    Sensei | All For One  29 Mar 2023
2    Sensei | All For One  01 Apr 2023
3    Sensei | All For One  29 Mar 2023
4    Sensei | All For One  02 Apr 2023
..                    ...          ...
212  Sensei | All For One  31 Mar 2023
213  Sensei | All For One  31 Mar 2023
214  Sensei | All For One  01 Apr 2023
215  Sensei | All For One  28 Mar 2023
216  Sensei | All For One  28 Mar 2023

[217 rows x 2 columns]

In [28]:
Toga = ['Toga Himiko', 'Himiko Toga']
pullcharacter(Toga, char_date)
# do not want parents

Toga Himiko              189
Himiko Toga | Carnage      1
Toga Himiko's Parents      1
Himiko Toga                1
Name: name, dtype: int64

            name         date
0    Toga Himiko  30 Mar 2023
1    Toga Himiko  28 Mar 2023
2    Toga Himiko  29 Mar 2023
3    Toga Himiko  02 Apr 2023
4    Toga Himiko  02 Apr 2023
..           ...          ...
187  Toga Himiko  30 Mar 2023
188  Toga Himiko  29 Mar 2023
189  Toga Himiko  01 Apr 2023
190  Toga Himiko  31 Mar 2023
191  Himiko Toga  01 Apr 2023

[192 rows x 2 columns]

In [29]:
Asui = ['Asui Tsuyu']
pullcharacter(Asui, char_date)
# dont ant family

Asui Tsuyu             180
Asui Tsuyu's Family      4
Name: name, dtype: int64

           name         date
0    Asui Tsuyu  30 Mar 2023
1    Asui Tsuyu  28 Mar 2023
2    Asui Tsuyu  30 Mar 2023
3    Asui Tsuyu  01 Apr 2023
4    Asui Tsuyu  31 Mar 2023
..          ...          ...
179  Asui Tsuyu  30 Mar 2023
180  Asui Tsuyu  01 Apr 2023
181  Asui Tsuyu  02 Apr 2023
182  Asui Tsuyu  28 Mar 2023
183  Asui Tsuyu  01 Apr 2023

[184 rows x 2 columns]

In [30]:
midnight = ['Kayama Nemuri', 'Midnight']
pullcharacter(midnight, char_date)

Kayama Nemuri | Midnight    172
Name: name, dtype: int64

                         name         date
0    Kayama Nemuri | Midnight  30 Mar 2023
1    Kayama Nemuri | Midnight  31 Mar 2023
2    Kayama Nemuri | Midnight  30 Mar 2023
3    Kayama Nemuri | Midnight  30 Mar 2023
4    Kayama Nemuri | Midnight  28 Mar 2023
..                        ...          ...
167  Kayama Nemuri | Midnight  29 Mar 2023
168  Kayama Nemuri | Midnight  02 Apr 2023
169  Kayama Nemuri | Midnight  01 Apr 2023
170  Kayama Nemuri | Midnight  28 Mar 2023
171  Kayama Nemuri | Midnight  02 Apr 2023

[172 rows x 2 columns]

In [31]:
Eri = ['Eri']
pullcharacter(Eri, char_date)
# dont wnat mentioned, Cartman, Mother, Father, Erik, or Erks

Eri (My Hero Academia)                141
Eri (My Hero Academia) (mentioned)      2
Eri                                     2
Eric Cartman                            1
Eri's Mother (My Hero Academia)         1
Eri's Father (My Hero Academia)         1
Erik Anderson | Uzaeris                 1
Eriks (Trigun)                          1
Name: name, dtype: int64

                                   name         date
0                Eri (My Hero Academia)  28 Mar 2023
1                Eri (My Hero Academia)  30 Mar 2023
2                Eri (My Hero Academia)  31 Mar 2023
3                Eri (My Hero Academia)  29 Mar 2023
4                Eri (My Hero Academia)  28 Mar 2023
..                                  ...          ...
145  Eri (My Hero Academia) (mentioned)  30 Mar 2023
146              Eri (My Hero Academia)  29 Mar 2023
147              Eri (My Hero Academia)  30 Mar 2023
148              Eri (My Hero Academia)  30 Mar 2023
149                      Eriks (Trigun)  01 Apr 2023

[150 rows x 2 columns]

In [32]:
Mits = ['Bakugou Mitsuki', 'Mitsuki']
pullcharacter(Mits, char_date)

Bakugou Mitsuki    132
Bakugo Mitsuki       1
Name: name, dtype: int64

                name         date
0    Bakugou Mitsuki  30 Mar 2023
1    Bakugou Mitsuki  28 Mar 2023
2    Bakugou Mitsuki  01 Apr 2023
3    Bakugou Mitsuki  31 Mar 2023
4     Bakugo Mitsuki  28 Mar 2023
..               ...          ...
128  Bakugou Mitsuki  30 Mar 2023
129  Bakugou Mitsuki  28 Mar 2023
130  Bakugou Mitsuki  02 Apr 2023
131  Bakugou Mitsuki  29 Mar 2023
132  Bakugou Mitsuki  01 Apr 2023

[133 rows x 2 columns]

In [33]:
Nao = ['Tsukauchi Naomasa', 'Naomasa Tsukauchi']
pullcharacter(Nao, char_date)

Tsukauchi Naomasa    124
Naomasa Tsukauchi      1
Name: name, dtype: int64

                  name         date
0    Tsukauchi Naomasa  30 Mar 2023
1    Tsukauchi Naomasa  01 Apr 2023
2    Tsukauchi Naomasa  31 Mar 2023
3    Tsukauchi Naomasa  28 Mar 2023
4    Tsukauchi Naomasa  01 Apr 2023
..                 ...          ...
120  Tsukauchi Naomasa  31 Mar 2023
121  Tsukauchi Naomasa  29 Mar 2023
122  Tsukauchi Naomasa  01 Apr 2023
123  Tsukauchi Naomasa  01 Apr 2023
124  Tsukauchi Naomasa  01 Apr 2023

[125 rows x 2 columns]

In [34]:
Fum = ['Tokoyami']
pullcharacter(Fum, char_date)

Tokoyami Fumikage    123
Tokoyami Futako        1
Name: name, dtype: int64

                  name         date
0    Tokoyami Fumikage  30 Mar 2023
1    Tokoyami Fumikage  28 Mar 2023
2    Tokoyami Fumikage  30 Mar 2023
3    Tokoyami Fumikage  31 Mar 2023
4    Tokoyami Fumikage  02 Apr 2023
..                 ...          ...
119  Tokoyami Fumikage  29 Mar 2023
120  Tokoyami Fumikage  01 Apr 2023
121  Tokoyami Fumikage  01 Apr 2023
122  Tokoyami Fumikage  02 Apr 2023
123  Tokoyami Fumikage  28 Mar 2023

[124 rows x 2 columns]

In [35]:
Mei = ['Hatsume Mei', 'Mei Hatsume']
pullcharacter(Mei, char_date)
# dont want family, mentioned or mother

Hatsume Mei                111
Hatsume Mei's Family         2
Hatsume Mei - mentioned      1
Hatsume Mei's Mother         1
Mei Hatsume                  1
Name: name, dtype: int64

            name         date
0    Hatsume Mei  28 Mar 2023
1    Hatsume Mei  02 Apr 2023
2    Hatsume Mei  31 Mar 2023
3    Hatsume Mei  02 Apr 2023
4    Hatsume Mei  30 Mar 2023
..           ...          ...
111  Hatsume Mei  31 Mar 2023
112  Hatsume Mei  30 Mar 2023
113  Hatsume Mei  28 Mar 2023
114  Hatsume Mei  01 Apr 2023
115  Hatsume Mei  01 Apr 2023

[116 rows x 2 columns]

In [36]:
Kurogiri = ['Kurogiri']
pullcharacter(Kurogiri, char_date)

Kurogiri (My Hero Academia)    90
Kurogiri                        1
Name: name, dtype: int64

                           name         date
0   Kurogiri (My Hero Academia)  28 Mar 2023
1   Kurogiri (My Hero Academia)  01 Apr 2023
2   Kurogiri (My Hero Academia)  02 Apr 2023
3   Kurogiri (My Hero Academia)  30 Mar 2023
4   Kurogiri (My Hero Academia)  02 Apr 2023
..                          ...          ...
86  Kurogiri (My Hero Academia)  29 Mar 2023
87  Kurogiri (My Hero Academia)  30 Mar 2023
88  Kurogiri (My Hero Academia)  29 Mar 2023
89  Kurogiri (My Hero Academia)  01 Apr 2023
90  Kurogiri (My Hero Academia)  31 Mar 2023

[91 rows x 2 columns]

In [37]:
Miruko = ['Usagiyama Rumi', 'Miruko']
pullcharacter(Miruko, char_date)

Usagiyama Rumi | Miruko    87
Usagiyama Rumi              1
Name: name, dtype: int64

                       name         date
0   Usagiyama Rumi | Miruko  31 Mar 2023
1   Usagiyama Rumi | Miruko  30 Mar 2023
2            Usagiyama Rumi  28 Mar 2023
3   Usagiyama Rumi | Miruko  29 Mar 2023
4   Usagiyama Rumi | Miruko  01 Apr 2023
..                      ...          ...
83  Usagiyama Rumi | Miruko  30 Mar 2023
84  Usagiyama Rumi | Miruko  28 Mar 2023
85  Usagiyama Rumi | Miruko  30 Mar 2023
86  Usagiyama Rumi | Miruko  29 Mar 2023
87  Usagiyama Rumi | Miruko  02 Apr 2023

[88 rows x 2 columns]

In [38]:
Hisashi = ['Midoriya Hisashi']
pullcharacter(Hisashi, char_date)

Midoriya Hisashi    87
Name: name, dtype: int64

                name         date
0   Midoriya Hisashi  31 Mar 2023
1   Midoriya Hisashi  02 Apr 2023
2   Midoriya Hisashi  29 Mar 2023
3   Midoriya Hisashi  01 Apr 2023
4   Midoriya Hisashi  28 Mar 2023
..               ...          ...
82  Midoriya Hisashi  30 Mar 2023
83  Midoriya Hisashi  30 Mar 2023
84  Midoriya Hisashi  01 Apr 2023
85  Midoriya Hisashi  02 Apr 2023
86  Midoriya Hisashi  29 Mar 2023

[87 rows x 2 columns]

In [39]:
Twice = ['Bubaigawara']
pullcharacter(Twice, char_date)

Bubaigawara Jin | Twice    86
Name: name, dtype: int64

                       name         date
0   Bubaigawara Jin | Twice  02 Apr 2023
1   Bubaigawara Jin | Twice  29 Mar 2023
2   Bubaigawara Jin | Twice  01 Apr 2023
3   Bubaigawara Jin | Twice  28 Mar 2023
4   Bubaigawara Jin | Twice  31 Mar 2023
..                      ...          ...
81  Bubaigawara Jin | Twice  29 Mar 2023
82  Bubaigawara Jin | Twice  30 Mar 2023
83  Bubaigawara Jin | Twice  31 Mar 2023
84  Bubaigawara Jin | Twice  28 Mar 2023
85  Bubaigawara Jin | Twice  01 Apr 2023

[86 rows x 2 columns]

In [40]:
Masaru = ['Masaru']
pullcharacter(Masaru, char_date)
# dont want mentioned

Bakugou Masaru                85
Bakugo Masaru                  1
Bakugou Masaru - Mentioned     1
Name: name, dtype: int64

              name         date
0   Bakugou Masaru  30 Mar 2023
1   Bakugou Masaru  31 Mar 2023
2    Bakugo Masaru  28 Mar 2023
3   Bakugou Masaru  02 Apr 2023
4   Bakugou Masaru  30 Mar 2023
..             ...          ...
82  Bakugou Masaru  31 Mar 2023
83  Bakugou Masaru  02 Apr 2023
84  Bakugou Masaru  29 Mar 2023
85  Bakugou Masaru  01 Apr 2023
86  Bakugou Masaru  29 Mar 2023

[87 rows x 2 columns]

In [41]:
Fuyumi = ['Todoroki Fuyumi']
pullcharacter(Fuyumi, char_date)

Todoroki Fuyumi    82
Name: name, dtype: int64

               name         date
0   Todoroki Fuyumi  01 Apr 2023
1   Todoroki Fuyumi  29 Mar 2023
2   Todoroki Fuyumi  01 Apr 2023
3   Todoroki Fuyumi  02 Apr 2023
4   Todoroki Fuyumi  02 Apr 2023
..              ...          ...
77  Todoroki Fuyumi  02 Apr 2023
78  Todoroki Fuyumi  01 Apr 2023
79  Todoroki Fuyumi  29 Mar 2023
80  Todoroki Fuyumi  29 Mar 2023
81  Todoroki Fuyumi  02 Apr 2023

[82 rows x 2 columns]

In [42]:
Overhaul = ['Overhaul']
pullcharacter(Overhaul, char_date)

Chisaki Kai | Overhaul    73
Name: name, dtype: int64

                      name         date
0   Chisaki Kai | Overhaul  31 Mar 2023
1   Chisaki Kai | Overhaul  29 Mar 2023
2   Chisaki Kai | Overhaul  29 Mar 2023
3   Chisaki Kai | Overhaul  01 Apr 2023
4   Chisaki Kai | Overhaul  29 Mar 2023
..                     ...          ...
68  Chisaki Kai | Overhaul  02 Apr 2023
69  Chisaki Kai | Overhaul  30 Mar 2023
70  Chisaki Kai | Overhaul  02 Apr 2023
71  Chisaki Kai | Overhaul  31 Mar 2023
72  Chisaki Kai | Overhaul  01 Apr 2023

[73 rows x 2 columns]

In [43]:
Monoma = ['Monoma Neito']
pullcharacter(Monoma, char_date)

Monoma Neito    73
Name: name, dtype: int64

            name         date
0   Monoma Neito  28 Mar 2023
1   Monoma Neito  30 Mar 2023
2   Monoma Neito  28 Mar 2023
3   Monoma Neito  02 Apr 2023
4   Monoma Neito  01 Apr 2023
..           ...          ...
68  Monoma Neito  31 Mar 2023
69  Monoma Neito  31 Mar 2023
70  Monoma Neito  28 Mar 2023
71  Monoma Neito  29 Mar 2023
72  Monoma Neito  02 Apr 2023

[73 rows x 2 columns]

In [44]:
Mirio = ['Mirio']
pullcharacter(Mirio, char_date)

Toogata Mirio    69
Name: name, dtype: int64

             name         date
0   Toogata Mirio  28 Mar 2023
1   Toogata Mirio  30 Mar 2023
2   Toogata Mirio  30 Mar 2023
3   Toogata Mirio  30 Mar 2023
4   Toogata Mirio  31 Mar 2023
..            ...          ...
64  Toogata Mirio  01 Apr 2023
65  Toogata Mirio  28 Mar 2023
66  Toogata Mirio  01 Apr 2023
67  Toogata Mirio  29 Mar 2023
68  Toogata Mirio  30 Mar 2023

[69 rows x 2 columns]

In [45]:
Natsuo = ['Natsuo']
pullcharacter(Natsuo, char_date)

Todoroki Natsuo    65
Name: name, dtype: int64

               name         date
0   Todoroki Natsuo  29 Mar 2023
1   Todoroki Natsuo  02 Apr 2023
2   Todoroki Natsuo  02 Apr 2023
3   Todoroki Natsuo  31 Mar 2023
4   Todoroki Natsuo  02 Apr 2023
..              ...          ...
60  Todoroki Natsuo  29 Mar 2023
61  Todoroki Natsuo  01 Apr 2023
62  Todoroki Natsuo  01 Apr 2023
63  Todoroki Natsuo  29 Mar 2023
64  Todoroki Natsuo  02 Apr 2023

[65 rows x 2 columns]

In [46]:
RG = ['Shuuzenji', 'Chiyo', 'Recovery Girl']
pullcharacter(RG, char_date)

Shuuzenji Chiyo | Recovery Girl    65
Name: name, dtype: int64

                               name         date
0   Shuuzenji Chiyo | Recovery Girl  30 Mar 2023
1   Shuuzenji Chiyo | Recovery Girl  31 Mar 2023
2   Shuuzenji Chiyo | Recovery Girl  31 Mar 2023
3   Shuuzenji Chiyo | Recovery Girl  02 Apr 2023
4   Shuuzenji Chiyo | Recovery Girl  02 Apr 2023
..                              ...          ...
60  Shuuzenji Chiyo | Recovery Girl  31 Mar 2023
61  Shuuzenji Chiyo | Recovery Girl  01 Apr 2023
62  Shuuzenji Chiyo | Recovery Girl  28 Mar 2023
63  Shuuzenji Chiyo | Recovery Girl  28 Mar 2023
64  Shuuzenji Chiyo | Recovery Girl  02 Apr 2023

[65 rows x 2 columns]

In [47]:
Nezu = ['Nezu']
pullcharacter(Nezu, char_date)
# dont want Nezuko

Nezu              65
Principal Nezu     2
Prinipal Nezu      1
Kamado Nezuko      1
Name: name, dtype: int64

    name         date
0   Nezu  30 Mar 2023
1   Nezu  01 Apr 2023
2   Nezu  30 Mar 2023
3   Nezu  31 Mar 2023
4   Nezu  31 Mar 2023
..   ...          ...
64  Nezu  29 Mar 2023
65  Nezu  30 Mar 2023
66  Nezu  30 Mar 2023
67  Nezu  01 Apr 2023
68  Nezu  01 Apr 2023

[69 rows x 2 columns]

In [48]:
Ojiro = ['Ojiro']
pullcharacter(Ojiro, char_date)

Ojiro Mashirao    64
Name: name, dtype: int64

              name         date
0   Ojiro Mashirao  30 Mar 2023
1   Ojiro Mashirao  02 Apr 2023
2   Ojiro Mashirao  28 Mar 2023
3   Ojiro Mashirao  30 Mar 2023
4   Ojiro Mashirao  29 Mar 2023
..             ...          ...
59  Ojiro Mashirao  01 Apr 2023
60  Ojiro Mashirao  01 Apr 2023
61  Ojiro Mashirao  02 Apr 2023
62  Ojiro Mashirao  28 Mar 2023
63  Ojiro Mashirao  02 Apr 2023

[64 rows x 2 columns]

In [49]:
Aoyama = ['Aoyama']
pullcharacter(Aoyama, char_date)

Aoyama Yuuga    64
Yuga Aoyama      1
Name: name, dtype: int64

            name         date
0   Aoyama Yuuga  30 Mar 2023
1   Aoyama Yuuga  02 Apr 2023
2   Aoyama Yuuga  29 Mar 2023
3   Aoyama Yuuga  02 Apr 2023
4   Aoyama Yuuga  28 Mar 2023
..           ...          ...
60  Aoyama Yuuga  01 Apr 2023
61  Aoyama Yuuga  01 Apr 2023
62  Aoyama Yuuga  02 Apr 2023
63  Aoyama Yuuga  31 Mar 2023
64  Aoyama Yuuga  28 Mar 2023

[65 rows x 2 columns]

In [50]:
Rei = ['Todoroki Rei']
pullcharacter(Rei, char_date)
# dont want mother

Todoroki Rei             61
Todoroki Rei's Mother     1
Name: name, dtype: int64

                     name         date
0            Todoroki Rei  29 Mar 2023
1            Todoroki Rei  01 Apr 2023
2            Todoroki Rei  01 Apr 2023
3   Todoroki Rei's Mother  29 Mar 2023
4            Todoroki Rei  31 Mar 2023
..                    ...          ...
57           Todoroki Rei  28 Mar 2023
58           Todoroki Rei  29 Mar 2023
59           Todoroki Rei  01 Apr 2023
60           Todoroki Rei  29 Mar 2023
61           Todoroki Rei  29 Mar 2023

[62 rows x 2 columns]

In [51]:
Mineta = ['Mineta Minoru']
pullcharacter(Mineta, char_date)
# dont want father or parents

Mineta Minoru              61
Mineta Minoru’s father      1
Mineta Minoru's Parents     1
Mineta Minoru's Father      1
Name: name, dtype: int64

             name         date
0   Mineta Minoru  30 Mar 2023
1   Mineta Minoru  31 Mar 2023
2   Mineta Minoru  02 Apr 2023
3   Mineta Minoru  30 Mar 2023
4   Mineta Minoru  30 Mar 2023
..            ...          ...
59  Mineta Minoru  01 Apr 2023
60  Mineta Minoru  31 Mar 2023
61  Mineta Minoru  31 Mar 2023
62  Mineta Minoru  01 Apr 2023
63  Mineta Minoru  01 Apr 2023

[64 rows x 2 columns]

In [52]:
Amajiki = ['Amajiki Tamaki',]
pullcharacter(Amajiki, char_date)

Amajiki Tamaki    61
Name: name, dtype: int64

              name         date
0   Amajiki Tamaki  28 Mar 2023
1   Amajiki Tamaki  28 Mar 2023
2   Amajiki Tamaki  30 Mar 2023
3   Amajiki Tamaki  31 Mar 2023
4   Amajiki Tamaki  01 Apr 2023
..             ...          ...
56  Amajiki Tamaki  01 Apr 2023
57  Amajiki Tamaki  29 Mar 2023
58  Amajiki Tamaki  30 Mar 2023
59  Amajiki Tamaki  30 Mar 2023
60  Amajiki Tamaki  30 Mar 2023

[61 rows x 2 columns]

In [53]:
Spinner = ['Iguchi Shuuichi']
pullcharacter(Spinner, char_date)

Iguchi Shuuichi | Spinner    59
Name: name, dtype: int64

                         name         date
0   Iguchi Shuuichi | Spinner  02 Apr 2023
1   Iguchi Shuuichi | Spinner  30 Mar 2023
2   Iguchi Shuuichi | Spinner  29 Mar 2023
3   Iguchi Shuuichi | Spinner  01 Apr 2023
4   Iguchi Shuuichi | Spinner  31 Mar 2023
5   Iguchi Shuuichi | Spinner  28 Mar 2023
6   Iguchi Shuuichi | Spinner  02 Apr 2023
7   Iguchi Shuuichi | Spinner  31 Mar 2023
8   Iguchi Shuuichi | Spinner  01 Apr 2023
9   Iguchi Shuuichi | Spinner  02 Apr 2023
10  Iguchi Shuuichi | Spinner  31 Mar 2023
11  Iguchi Shuuichi | Spinner  01 Apr 2023
12  Iguchi Shuuichi | Spinner  30 Mar 2023
13  Iguchi Shuuichi | Spinner  30 Mar 2023
14  Iguchi Shuuichi | Spinner  31 Mar 2023
15  Iguchi Shuuichi | Spinner  01 Apr 2023
16  Iguchi Shuuichi | Spinner  31 Mar 2023
17  Iguchi Shuuichi | Spinner  01 Apr 2023
18  Iguchi Shuuichi | Spinner  01 Apr 2023
19  Iguchi Shuuichi | Spinner  02 Apr 2023
20  Iguchi Shuuichi | Spinner  01 Apr 2023
21  Iguchi Shuuichi | Spinner  28 Mar 2023
22  Iguchi Shuuichi | Spinner  31 Mar 2023
23  Iguchi Shuuichi | Spinner  01 Apr 2023
24  Iguchi Shuuichi | Spinner  01 Apr 2023
25  Iguchi Shuuichi | Spinner  30 Mar 2023
26  Iguchi Shuuichi | Spinner  01 Apr 2023
27  Iguchi Shuuichi | Spinner  02 Apr 2023
28  Iguchi Shuuichi | Spinner  31 Mar 2023
29  Iguchi Shuuichi | Spinner  31 Mar 2023
30  Iguchi Shuuichi | Spinner  02 Apr 2023
31  Iguchi Shuuichi | Spinner  30 Mar 2023
32  Iguchi Shuuichi | Spinner  31 Mar 2023
33  Iguchi Shuuichi | Spinner  30 Mar 2023
34  Iguchi Shuuichi | Spinner  29 Mar 2023
35  Iguchi Shuuichi | Spinner  28 Mar 2023
36  Iguchi Shuuichi | Spinner  30 Mar 2023
37  Iguchi Shuuichi | Spinner  01 Apr 2023
38  Iguchi Shuuichi | Spinner  01 Apr 2023
39  Iguchi Shuuichi | Spinner  30 Mar 2023
40  Iguchi Shuuichi | Spinner  31 Mar 2023
41  Iguchi Shuuichi | Spinner  30 Mar 2023
42  Iguchi Shuuichi | Spinner  29 Mar 2023
43  Iguchi Shuuichi | Spinner  31 Mar 2023
44  Iguchi Shuuichi | Spinner  01 Apr 2023
45  Iguchi Shuuichi | Spinner  29 Mar 2023
46  Iguchi Shuuichi | Spinner  28 Mar 2023
47  Iguchi Shuuichi | Spinner  29 Mar 2023
48  Iguchi Shuuichi | Spinner  31 Mar 2023
49  Iguchi Shuuichi | Spinner  29 Mar 2023
50  Iguchi Shuuichi | Spinner  01 Apr 2023
51  Iguchi Shuuichi | Spinner  31 Mar 2023
52  Iguchi Shuuichi | Spinner  28 Mar 2023
53  Iguchi Shuuichi | Spinner  30 Mar 2023
54  Iguchi Shuuichi | Spinner  02 Apr 2023
55  Iguchi Shuuichi | Spinner  30 Mar 2023
56  Iguchi Shuuichi | Spinner  29 Mar 2023
57  Iguchi Shuuichi | Spinner  30 Mar 2023
58  Iguchi Shuuichi | Spinner  01 Apr 2023

In [54]:
Compress = ['Mr. Compress']
pullcharacter(Compress, char_date)

Sako Atsuhiro | Mr. Compress    58
Name: name, dtype: int64

                            name         date
0   Sako Atsuhiro | Mr. Compress  01 Apr 2023
1   Sako Atsuhiro | Mr. Compress  30 Mar 2023
2   Sako Atsuhiro | Mr. Compress  29 Mar 2023
3   Sako Atsuhiro | Mr. Compress  01 Apr 2023
4   Sako Atsuhiro | Mr. Compress  31 Mar 2023
5   Sako Atsuhiro | Mr. Compress  31 Mar 2023
6   Sako Atsuhiro | Mr. Compress  01 Apr 2023
7   Sako Atsuhiro | Mr. Compress  31 Mar 2023
8   Sako Atsuhiro | Mr. Compress  01 Apr 2023
9   Sako Atsuhiro | Mr. Compress  30 Mar 2023
10  Sako Atsuhiro | Mr. Compress  31 Mar 2023
11  Sako Atsuhiro | Mr. Compress  01 Apr 2023
12  Sako Atsuhiro | Mr. Compress  31 Mar 2023
13  Sako Atsuhiro | Mr. Compress  01 Apr 2023
14  Sako Atsuhiro | Mr. Compress  30 Mar 2023
15  Sako Atsuhiro | Mr. Compress  01 Apr 2023
16  Sako Atsuhiro | Mr. Compress  02 Apr 2023
17  Sako Atsuhiro | Mr. Compress  01 Apr 2023
18  Sako Atsuhiro | Mr. Compress  28 Mar 2023
19  Sako Atsuhiro | Mr. Compress  30 Mar 2023
20  Sako Atsuhiro | Mr. Compress  01 Apr 2023
21  Sako Atsuhiro | Mr. Compress  31 Mar 2023
22  Sako Atsuhiro | Mr. Compress  02 Apr 2023
23  Sako Atsuhiro | Mr. Compress  01 Apr 2023
24  Sako Atsuhiro | Mr. Compress  30 Mar 2023
25  Sako Atsuhiro | Mr. Compress  31 Mar 2023
26  Sako Atsuhiro | Mr. Compress  30 Mar 2023
27  Sako Atsuhiro | Mr. Compress  30 Mar 2023
28  Sako Atsuhiro | Mr. Compress  02 Apr 2023
29  Sako Atsuhiro | Mr. Compress  29 Mar 2023
30  Sako Atsuhiro | Mr. Compress  31 Mar 2023
31  Sako Atsuhiro | Mr. Compress  01 Apr 2023
32  Sako Atsuhiro | Mr. Compress  28 Mar 2023
33  Sako Atsuhiro | Mr. Compress  30 Mar 2023
34  Sako Atsuhiro | Mr. Compress  31 Mar 2023
35  Sako Atsuhiro | Mr. Compress  01 Apr 2023
36  Sako Atsuhiro | Mr. Compress  29 Mar 2023
37  Sako Atsuhiro | Mr. Compress  31 Mar 2023
38  Sako Atsuhiro | Mr. Compress  30 Mar 2023
39  Sako Atsuhiro | Mr. Compress  29 Mar 2023
40  Sako Atsuhiro | Mr. Compress  31 Mar 2023
41  Sako Atsuhiro | Mr. Compress  30 Mar 2023
42  Sako Atsuhiro | Mr. Compress  01 Apr 2023
43  Sako Atsuhiro | Mr. Compress  29 Mar 2023
44  Sako Atsuhiro | Mr. Compress  28 Mar 2023
45  Sako Atsuhiro | Mr. Compress  29 Mar 2023
46  Sako Atsuhiro | Mr. Compress  29 Mar 2023
47  Sako Atsuhiro | Mr. Compress  01 Apr 2023
48  Sako Atsuhiro | Mr. Compress  31 Mar 2023
49  Sako Atsuhiro | Mr. Compress  30 Mar 2023
50  Sako Atsuhiro | Mr. Compress  02 Apr 2023
51  Sako Atsuhiro | Mr. Compress  30 Mar 2023
52  Sako Atsuhiro | Mr. Compress  28 Mar 2023
53  Sako Atsuhiro | Mr. Compress  02 Apr 2023
54  Sako Atsuhiro | Mr. Compress  29 Mar 2023
55  Sako Atsuhiro | Mr. Compress  28 Mar 2023
56  Sako Atsuhiro | Mr. Compress  01 Apr 2023
57  Sako Atsuhiro | Mr. Compress  01 Apr 2023

In [55]:
Nighteye = ['Sir Nighteye']
pullcharacter(Nighteye, char_date)

Sasaki Mirai | Sir Nighteye        56
Sir Nighteye (My Hero Academia)     1
Name: name, dtype: int64

                               name         date
0       Sasaki Mirai | Sir Nighteye  30 Mar 2023
1       Sasaki Mirai | Sir Nighteye  31 Mar 2023
2       Sasaki Mirai | Sir Nighteye  30 Mar 2023
3       Sasaki Mirai | Sir Nighteye  29 Mar 2023
4       Sasaki Mirai | Sir Nighteye  01 Apr 2023
5       Sasaki Mirai | Sir Nighteye  31 Mar 2023
6       Sasaki Mirai | Sir Nighteye  29 Mar 2023
7       Sasaki Mirai | Sir Nighteye  30 Mar 2023
8       Sasaki Mirai | Sir Nighteye  31 Mar 2023
9       Sasaki Mirai | Sir Nighteye  30 Mar 2023
10      Sasaki Mirai | Sir Nighteye  01 Apr 2023
11      Sasaki Mirai | Sir Nighteye  31 Mar 2023
12      Sasaki Mirai | Sir Nighteye  01 Apr 2023
13      Sasaki Mirai | Sir Nighteye  30 Mar 2023
14      Sasaki Mirai | Sir Nighteye  30 Mar 2023
15      Sasaki Mirai | Sir Nighteye  02 Apr 2023
16      Sasaki Mirai | Sir Nighteye  28 Mar 2023
17      Sasaki Mirai | Sir Nighteye  28 Mar 2023
18      Sasaki Mirai | Sir Nighteye  01 Apr 2023
19      Sasaki Mirai | Sir Nighteye  31 Mar 2023
20      Sasaki Mirai | Sir Nighteye  02 Apr 2023
21      Sasaki Mirai | Sir Nighteye  31 Mar 2023
22      Sasaki Mirai | Sir Nighteye  28 Mar 2023
23      Sasaki Mirai | Sir Nighteye  01 Apr 2023
24      Sasaki Mirai | Sir Nighteye  28 Mar 2023
25      Sasaki Mirai | Sir Nighteye  31 Mar 2023
26      Sasaki Mirai | Sir Nighteye  29 Mar 2023
27      Sasaki Mirai | Sir Nighteye  30 Mar 2023
28      Sasaki Mirai | Sir Nighteye  29 Mar 2023
29  Sir Nighteye (My Hero Academia)  31 Mar 2023
30      Sasaki Mirai | Sir Nighteye  31 Mar 2023
31      Sasaki Mirai | Sir Nighteye  30 Mar 2023
32      Sasaki Mirai | Sir Nighteye  30 Mar 2023
33      Sasaki Mirai | Sir Nighteye  29 Mar 2023
34      Sasaki Mirai | Sir Nighteye  29 Mar 2023
35      Sasaki Mirai | Sir Nighteye  29 Mar 2023
36      Sasaki Mirai | Sir Nighteye  01 Apr 2023
37      Sasaki Mirai | Sir Nighteye  03 Apr 2023
38      Sasaki Mirai | Sir Nighteye  29 Mar 2023
39      Sasaki Mirai | Sir Nighteye  30 Mar 2023
40      Sasaki Mirai | Sir Nighteye  02 Apr 2023
41      Sasaki Mirai | Sir Nighteye  01 Apr 2023
42      Sasaki Mirai | Sir Nighteye  29 Mar 2023
43      Sasaki Mirai | Sir Nighteye  29 Mar 2023
44      Sasaki Mirai | Sir Nighteye  30 Mar 2023
45      Sasaki Mirai | Sir Nighteye  01 Apr 2023
46      Sasaki Mirai | Sir Nighteye  31 Mar 2023
47      Sasaki Mirai | Sir Nighteye  02 Apr 2023
48      Sasaki Mirai | Sir Nighteye  28 Mar 2023
49      Sasaki Mirai | Sir Nighteye  01 Apr 2023
50      Sasaki Mirai | Sir Nighteye  29 Mar 2023
51      Sasaki Mirai | Sir Nighteye  29 Mar 2023
52      Sasaki Mirai | Sir Nighteye  01 Apr 2023
53      Sasaki Mirai | Sir Nighteye  30 Mar 2023
54      Sasaki Mirai | Sir Nighteye  28 Mar 2023
55      Sasaki Mirai | Sir Nighteye  01 Apr 2023
56      Sasaki Mirai | Sir Nighteye  29 Mar 2023

In [56]:
Shouji = ['Shouji Mezou']
pullcharacter(Shouji, char_date)
# not inclued mother

Shouji Mezou             55
Shouji Mezou's Mother     1
Name: name, dtype: int64

                     name         date
0            Shouji Mezou  30 Mar 2023
1            Shouji Mezou  02 Apr 2023
2            Shouji Mezou  28 Mar 2023
3            Shouji Mezou  31 Mar 2023
4            Shouji Mezou  30 Mar 2023
5            Shouji Mezou  29 Mar 2023
6            Shouji Mezou  01 Apr 2023
7            Shouji Mezou  30 Mar 2023
8            Shouji Mezou  01 Apr 2023
9            Shouji Mezou  31 Mar 2023
10           Shouji Mezou  02 Apr 2023
11           Shouji Mezou  29 Mar 2023
12           Shouji Mezou  02 Apr 2023
13           Shouji Mezou  31 Mar 2023
14           Shouji Mezou  02 Apr 2023
15           Shouji Mezou  30 Mar 2023
16           Shouji Mezou  31 Mar 2023
17           Shouji Mezou  02 Apr 2023
18           Shouji Mezou  31 Mar 2023
19           Shouji Mezou  02 Apr 2023
20           Shouji Mezou  31 Mar 2023
21           Shouji Mezou  02 Apr 2023
22           Shouji Mezou  01 Apr 2023
23           Shouji Mezou  31 Mar 2023
24           Shouji Mezou  30 Mar 2023
25           Shouji Mezou  02 Apr 2023
26           Shouji Mezou  01 Apr 2023
27           Shouji Mezou  28 Mar 2023
28           Shouji Mezou  31 Mar 2023
29           Shouji Mezou  28 Mar 2023
30           Shouji Mezou  02 Apr 2023
31           Shouji Mezou  02 Apr 2023
32           Shouji Mezou  31 Mar 2023
33           Shouji Mezou  02 Apr 2023
34           Shouji Mezou  31 Mar 2023
35           Shouji Mezou  29 Mar 2023
36           Shouji Mezou  31 Mar 2023
37           Shouji Mezou  31 Mar 2023
38           Shouji Mezou  01 Apr 2023
39           Shouji Mezou  29 Mar 2023
40           Shouji Mezou  31 Mar 2023
41           Shouji Mezou  02 Apr 2023
42           Shouji Mezou  01 Apr 2023
43           Shouji Mezou  28 Mar 2023
44           Shouji Mezou  28 Mar 2023
45           Shouji Mezou  29 Mar 2023
46           Shouji Mezou  29 Mar 2023
47           Shouji Mezou  01 Apr 2023
48           Shouji Mezou  31 Mar 2023
49  Shouji Mezou's Mother  31 Mar 2023
50           Shouji Mezou  29 Mar 2023
51           Shouji Mezou  30 Mar 2023
52           Shouji Mezou  01 Apr 2023
53           Shouji Mezou  01 Apr 2023
54           Shouji Mezou  02 Apr 2023
55           Shouji Mezou  28 Mar 2023

In [57]:
Stain = ['Akaguro', 'Chizome']
pullcharacter(Stain, char_date)

Akaguro Chizome | Stain     49
Chizome Akaguro Stendhal     1
Name: name, dtype: int64

                        name         date
0    Akaguro Chizome | Stain  28 Mar 2023
1    Akaguro Chizome | Stain  29 Mar 2023
2    Akaguro Chizome | Stain  29 Mar 2023
3    Akaguro Chizome | Stain  01 Apr 2023
4    Akaguro Chizome | Stain  29 Mar 2023
5    Akaguro Chizome | Stain  28 Mar 2023
6    Akaguro Chizome | Stain  02 Apr 2023
7    Akaguro Chizome | Stain  01 Apr 2023
8    Akaguro Chizome | Stain  29 Mar 2023
9    Akaguro Chizome | Stain  01 Apr 2023
10   Akaguro Chizome | Stain  28 Mar 2023
11   Akaguro Chizome | Stain  29 Mar 2023
12   Akaguro Chizome | Stain  01 Apr 2023
13   Akaguro Chizome | Stain  31 Mar 2023
14   Akaguro Chizome | Stain  02 Apr 2023
15   Akaguro Chizome | Stain  01 Apr 2023
16   Akaguro Chizome | Stain  30 Mar 2023
17   Akaguro Chizome | Stain  02 Apr 2023
18   Akaguro Chizome | Stain  31 Mar 2023
19   Akaguro Chizome | Stain  01 Apr 2023
20   Akaguro Chizome | Stain  28 Mar 2023
21   Akaguro Chizome | Stain  28 Mar 2023
22   Akaguro Chizome | Stain  02 Apr 2023
23   Akaguro Chizome | Stain  01 Apr 2023
24   Akaguro Chizome | Stain  31 Mar 2023
25   Akaguro Chizome | Stain  28 Mar 2023
26   Akaguro Chizome | Stain  01 Apr 2023
27   Akaguro Chizome | Stain  30 Mar 2023
28   Akaguro Chizome | Stain  02 Apr 2023
29   Akaguro Chizome | Stain  01 Apr 2023
30  Chizome Akaguro Stendhal  01 Apr 2023
31   Akaguro Chizome | Stain  31 Mar 2023
32   Akaguro Chizome | Stain  01 Apr 2023
33   Akaguro Chizome | Stain  30 Mar 2023
34   Akaguro Chizome | Stain  30 Mar 2023
35   Akaguro Chizome | Stain  31 Mar 2023
36   Akaguro Chizome | Stain  31 Mar 2023
37   Akaguro Chizome | Stain  28 Mar 2023
38   Akaguro Chizome | Stain  29 Mar 2023
39   Akaguro Chizome | Stain  01 Apr 2023
40   Akaguro Chizome | Stain  30 Mar 2023
41   Akaguro Chizome | Stain  01 Apr 2023
42   Akaguro Chizome | Stain  01 Apr 2023
43   Akaguro Chizome | Stain  30 Mar 2023
44   Akaguro Chizome | Stain  29 Mar 2023
45   Akaguro Chizome | Stain  30 Mar 2023
46   Akaguro Chizome | Stain  28 Mar 2023
47   Akaguro Chizome | Stain  01 Apr 2023
48   Akaguro Chizome | Stain  29 Mar 2023
49   Akaguro Chizome | Stain  29 Mar 2023

In [58]:
Nejire = ['Hadou Nejire']
pullcharacter(Nejire, char_date)
# do not want father

Hadou Nejire             45
Hadou Nejire's Father     1
Name: name, dtype: int64

                     name         date
0            Hadou Nejire  28 Mar 2023
1            Hadou Nejire  30 Mar 2023
2            Hadou Nejire  31 Mar 2023
3            Hadou Nejire  30 Mar 2023
4            Hadou Nejire  01 Apr 2023
5            Hadou Nejire  29 Mar 2023
6            Hadou Nejire  31 Mar 2023
7            Hadou Nejire  31 Mar 2023
8            Hadou Nejire  31 Mar 2023
9            Hadou Nejire  02 Apr 2023
10           Hadou Nejire  01 Apr 2023
11           Hadou Nejire  29 Mar 2023
12           Hadou Nejire  02 Apr 2023
13           Hadou Nejire  28 Mar 2023
14  Hadou Nejire's Father  28 Mar 2023
15           Hadou Nejire  31 Mar 2023
16           Hadou Nejire  29 Mar 2023
17           Hadou Nejire  28 Mar 2023
18           Hadou Nejire  01 Apr 2023
19           Hadou Nejire  28 Mar 2023
20           Hadou Nejire  29 Mar 2023
21           Hadou Nejire  29 Mar 2023
22           Hadou Nejire  31 Mar 2023
23           Hadou Nejire  31 Mar 2023
24           Hadou Nejire  31 Mar 2023
25           Hadou Nejire  01 Apr 2023
26           Hadou Nejire  28 Mar 2023
27           Hadou Nejire  31 Mar 2023
28           Hadou Nejire  29 Mar 2023
29           Hadou Nejire  30 Mar 2023
30           Hadou Nejire  31 Mar 2023
31           Hadou Nejire  30 Mar 2023
32           Hadou Nejire  30 Mar 2023
33           Hadou Nejire  31 Mar 2023
34           Hadou Nejire  29 Mar 2023
35           Hadou Nejire  02 Apr 2023
36           Hadou Nejire  01 Apr 2023
37           Hadou Nejire  31 Mar 2023
38           Hadou Nejire  01 Apr 2023
39           Hadou Nejire  01 Apr 2023
40           Hadou Nejire  29 Mar 2023
41           Hadou Nejire  30 Mar 2023
42           Hadou Nejire  01 Apr 2023
43           Hadou Nejire  02 Apr 2023
44           Hadou Nejire  29 Mar 2023
45           Hadou Nejire  30 Mar 2023

In [59]:
Torino = ['Torino']
pullcharacter(Torino, char_date)

Gran Torino (My Hero Academia)    42
Torino Sorahiko                    1
Name: name, dtype: int64

                              name         date
0   Gran Torino (My Hero Academia)  29 Mar 2023
1   Gran Torino (My Hero Academia)  01 Apr 2023
2   Gran Torino (My Hero Academia)  29 Mar 2023
3   Gran Torino (My Hero Academia)  29 Mar 2023
4   Gran Torino (My Hero Academia)  31 Mar 2023
5   Gran Torino (My Hero Academia)  01 Apr 2023
6   Gran Torino (My Hero Academia)  01 Apr 2023
7   Gran Torino (My Hero Academia)  01 Apr 2023
8                  Torino Sorahiko  01 Apr 2023
9   Gran Torino (My Hero Academia)  01 Apr 2023
10  Gran Torino (My Hero Academia)  02 Apr 2023
11  Gran Torino (My Hero Academia)  30 Mar 2023
12  Gran Torino (My Hero Academia)  28 Mar 2023
13  Gran Torino (My Hero Academia)  29 Mar 2023
14  Gran Torino (My Hero Academia)  28 Mar 2023
15  Gran Torino (My Hero Academia)  30 Mar 2023
16  Gran Torino (My Hero Academia)  02 Apr 2023
17  Gran Torino (My Hero Academia)  31 Mar 2023
18  Gran Torino (My Hero Academia)  28 Mar 2023
19  Gran Torino (My Hero Academia)  02 Apr 2023
20  Gran Torino (My Hero Academia)  31 Mar 2023
21  Gran Torino (My Hero Academia)  31 Mar 2023
22  Gran Torino (My Hero Academia)  29 Mar 2023
23  Gran Torino (My Hero Academia)  29 Mar 2023
24  Gran Torino (My Hero Academia)  31 Mar 2023
25  Gran Torino (My Hero Academia)  01 Apr 2023
26  Gran Torino (My Hero Academia)  31 Mar 2023
27  Gran Torino (My Hero Academia)  30 Mar 2023
28  Gran Torino (My Hero Academia)  29 Mar 2023
29  Gran Torino (My Hero Academia)  03 Apr 2023
30  Gran Torino (My Hero Academia)  01 Apr 2023
31  Gran Torino (My Hero Academia)  28 Mar 2023
32  Gran Torino (My Hero Academia)  29 Mar 2023
33  Gran Torino (My Hero Academia)  01 Apr 2023
34  Gran Torino (My Hero Academia)  01 Apr 2023
35  Gran Torino (My Hero Academia)  02 Apr 2023
36  Gran Torino (My Hero Academia)  01 Apr 2023
37  Gran Torino (My Hero Academia)  01 Apr 2023
38  Gran Torino (My Hero Academia)  29 Mar 2023
39  Gran Torino (My Hero Academia)  01 Apr 2023
40  Gran Torino (My Hero Academia)  29 Mar 2023
41  Gran Torino (My Hero Academia)  02 Apr 2023
42  Gran Torino (My Hero Academia)  01 Apr 2023

In [60]:
Satou = ['Satou Rikidou', 'Sato Rikido']
pullcharacter(Satou, char_date)

Satou Rikidou    41
Sato Rikido       2
Name: name, dtype: int64

             name         date
0   Satou Rikidou  30 Mar 2023
1   Satou Rikidou  02 Apr 2023
2   Satou Rikidou  28 Mar 2023
3   Satou Rikidou  30 Mar 2023
4   Satou Rikidou  29 Mar 2023
5   Satou Rikidou  28 Mar 2023
6   Satou Rikidou  01 Apr 2023
7   Satou Rikidou  31 Mar 2023
8     Sato Rikido  31 Mar 2023
9   Satou Rikidou  29 Mar 2023
10  Satou Rikidou  01 Apr 2023
11  Satou Rikidou  31 Mar 2023
12  Satou Rikidou  02 Apr 2023
13  Satou Rikidou  31 Mar 2023
14  Satou Rikidou  02 Apr 2023
15  Satou Rikidou  01 Apr 2023
16  Satou Rikidou  31 Mar 2023
17  Satou Rikidou  30 Mar 2023
18  Satou Rikidou  01 Apr 2023
19  Satou Rikidou  01 Apr 2023
20  Satou Rikidou  28 Mar 2023
21  Satou Rikidou  28 Mar 2023
22  Satou Rikidou  02 Apr 2023
23  Satou Rikidou  02 Apr 2023
24  Satou Rikidou  31 Mar 2023
25  Satou Rikidou  31 Mar 2023
26  Satou Rikidou  01 Apr 2023
27  Satou Rikidou  31 Mar 2023
28  Satou Rikidou  29 Mar 2023
29  Satou Rikidou  28 Mar 2023
30  Satou Rikidou  31 Mar 2023
31  Satou Rikidou  01 Apr 2023
32  Satou Rikidou  29 Mar 2023
33  Satou Rikidou  31 Mar 2023
34  Satou Rikidou  31 Mar 2023
35  Satou Rikidou  28 Mar 2023
36  Satou Rikidou  02 Apr 2023
37  Satou Rikidou  01 Apr 2023
38  Satou Rikidou  31 Mar 2023
39    Sato Rikido  01 Apr 2023
40  Satou Rikidou  01 Apr 2023
41  Satou Rikidou  02 Apr 2023
42  Satou Rikidou  28 Mar 2023

In [61]:
Jeanist = ['Best Jeanist']
pullcharacter(Jeanist, char_date)

Hakamata Tsunagu | Best Jeanist    40
Name: name, dtype: int64

                               name         date
0   Hakamata Tsunagu | Best Jeanist  28 Mar 2023
1   Hakamata Tsunagu | Best Jeanist  30 Mar 2023
2   Hakamata Tsunagu | Best Jeanist  30 Mar 2023
3   Hakamata Tsunagu | Best Jeanist  29 Mar 2023
4   Hakamata Tsunagu | Best Jeanist  30 Mar 2023
5   Hakamata Tsunagu | Best Jeanist  02 Apr 2023
6   Hakamata Tsunagu | Best Jeanist  30 Mar 2023
7   Hakamata Tsunagu | Best Jeanist  31 Mar 2023
8   Hakamata Tsunagu | Best Jeanist  31 Mar 2023
9   Hakamata Tsunagu | Best Jeanist  01 Apr 2023
10  Hakamata Tsunagu | Best Jeanist  31 Mar 2023
11  Hakamata Tsunagu | Best Jeanist  02 Apr 2023
12  Hakamata Tsunagu | Best Jeanist  01 Apr 2023
13  Hakamata Tsunagu | Best Jeanist  29 Mar 2023
14  Hakamata Tsunagu | Best Jeanist  30 Mar 2023
15  Hakamata Tsunagu | Best Jeanist  28 Mar 2023
16  Hakamata Tsunagu | Best Jeanist  01 Apr 2023
17  Hakamata Tsunagu | Best Jeanist  30 Mar 2023
18  Hakamata Tsunagu | Best Jeanist  31 Mar 2023
19  Hakamata Tsunagu | Best Jeanist  29 Mar 2023
20  Hakamata Tsunagu | Best Jeanist  30 Mar 2023
21  Hakamata Tsunagu | Best Jeanist  01 Apr 2023
22  Hakamata Tsunagu | Best Jeanist  31 Mar 2023
23  Hakamata Tsunagu | Best Jeanist  30 Mar 2023
24  Hakamata Tsunagu | Best Jeanist  02 Apr 2023
25  Hakamata Tsunagu | Best Jeanist  31 Mar 2023
26  Hakamata Tsunagu | Best Jeanist  02 Apr 2023
27  Hakamata Tsunagu | Best Jeanist  02 Apr 2023
28  Hakamata Tsunagu | Best Jeanist  01 Apr 2023
29  Hakamata Tsunagu | Best Jeanist  29 Mar 2023
30  Hakamata Tsunagu | Best Jeanist  30 Mar 2023
31  Hakamata Tsunagu | Best Jeanist  02 Apr 2023
32  Hakamata Tsunagu | Best Jeanist  01 Apr 2023
33  Hakamata Tsunagu | Best Jeanist  30 Mar 2023
34  Hakamata Tsunagu | Best Jeanist  01 Apr 2023
35  Hakamata Tsunagu | Best Jeanist  02 Apr 2023
36  Hakamata Tsunagu | Best Jeanist  31 Mar 2023
37  Hakamata Tsunagu | Best Jeanist  31 Mar 2023
38  Hakamata Tsunagu | Best Jeanist  30 Mar 2023
39  Hakamata Tsunagu | Best Jeanist  28 Mar 2023

In [62]:
Kendou = ['Itsuka']
pullcharacter(Kendou, char_date)

Kendou Itsuka    37
Name: name, dtype: int64

             name         date
0   Kendou Itsuka  28 Mar 2023
1   Kendou Itsuka  01 Apr 2023
2   Kendou Itsuka  02 Apr 2023
3   Kendou Itsuka  31 Mar 2023
4   Kendou Itsuka  02 Apr 2023
5   Kendou Itsuka  01 Apr 2023
6   Kendou Itsuka  31 Mar 2023
7   Kendou Itsuka  31 Mar 2023
8   Kendou Itsuka  30 Mar 2023
9   Kendou Itsuka  01 Apr 2023
10  Kendou Itsuka  02 Apr 2023
11  Kendou Itsuka  31 Mar 2023
12  Kendou Itsuka  31 Mar 2023
13  Kendou Itsuka  31 Mar 2023
14  Kendou Itsuka  28 Mar 2023
15  Kendou Itsuka  01 Apr 2023
16  Kendou Itsuka  28 Mar 2023
17  Kendou Itsuka  29 Mar 2023
18  Kendou Itsuka  31 Mar 2023
19  Kendou Itsuka  31 Mar 2023
20  Kendou Itsuka  28 Mar 2023
21  Kendou Itsuka  31 Mar 2023
22  Kendou Itsuka  31 Mar 2023
23  Kendou Itsuka  30 Mar 2023
24  Kendou Itsuka  30 Mar 2023
25  Kendou Itsuka  31 Mar 2023
26  Kendou Itsuka  28 Mar 2023
27  Kendou Itsuka  31 Mar 2023
28  Kendou Itsuka  01 Apr 2023
29  Kendou Itsuka  30 Mar 2023
30  Kendou Itsuka  02 Apr 2023
31  Kendou Itsuka  31 Mar 2023
32  Kendou Itsuka  30 Mar 2023
33  Kendou Itsuka  29 Mar 2023
34  Kendou Itsuka  31 Mar 2023
35  Kendou Itsuka  01 Apr 2023
36  Kendou Itsuka  02 Apr 2023

In [63]:
Melissa = ['Melissa']
pullcharacter(Melissa, char_date)

Melissa Shield    34
Name: name, dtype: int64

              name         date
0   Melissa Shield  29 Mar 2023
1   Melissa Shield  01 Apr 2023
2   Melissa Shield  31 Mar 2023
3   Melissa Shield  02 Apr 2023
4   Melissa Shield  29 Mar 2023
5   Melissa Shield  01 Apr 2023
6   Melissa Shield  02 Apr 2023
7   Melissa Shield  28 Mar 2023
8   Melissa Shield  28 Mar 2023
9   Melissa Shield  02 Apr 2023
10  Melissa Shield  31 Mar 2023
11  Melissa Shield  01 Apr 2023
12  Melissa Shield  28 Mar 2023
13  Melissa Shield  31 Mar 2023
14  Melissa Shield  30 Mar 2023
15  Melissa Shield  02 Apr 2023
16  Melissa Shield  02 Apr 2023
17  Melissa Shield  28 Mar 2023
18  Melissa Shield  29 Mar 2023
19  Melissa Shield  28 Mar 2023
20  Melissa Shield  28 Mar 2023
21  Melissa Shield  29 Mar 2023
22  Melissa Shield  30 Mar 2023
23  Melissa Shield  29 Mar 2023
24  Melissa Shield  29 Mar 2023
25  Melissa Shield  28 Mar 2023
26  Melissa Shield  29 Mar 2023
27  Melissa Shield  31 Mar 2023
28  Melissa Shield  31 Mar 2023
29  Melissa Shield  29 Mar 2023
30  Melissa Shield  29 Mar 2023
31  Melissa Shield  01 Apr 2023
32  Melissa Shield  30 Mar 2023
33  Melissa Shield  01 Apr 2023

In [64]:
Nagant = ['Lady Nagant']
pullcharacter(Nagant, char_date)

Tsutsumi Kaina | Lady Nagant      31
Lady Nagant (My Hero Academia)     3
Name: name, dtype: int64

                              name         date
0     Tsutsumi Kaina | Lady Nagant  30 Mar 2023
1   Lady Nagant (My Hero Academia)  02 Apr 2023
2     Tsutsumi Kaina | Lady Nagant  01 Apr 2023
3     Tsutsumi Kaina | Lady Nagant  29 Mar 2023
4     Tsutsumi Kaina | Lady Nagant  02 Apr 2023
5     Tsutsumi Kaina | Lady Nagant  31 Mar 2023
6     Tsutsumi Kaina | Lady Nagant  01 Apr 2023
7     Tsutsumi Kaina | Lady Nagant  01 Apr 2023
8     Tsutsumi Kaina | Lady Nagant  02 Apr 2023
9     Tsutsumi Kaina | Lady Nagant  30 Mar 2023
10    Tsutsumi Kaina | Lady Nagant  31 Mar 2023
11    Tsutsumi Kaina | Lady Nagant  02 Apr 2023
12    Tsutsumi Kaina | Lady Nagant  02 Apr 2023
13    Tsutsumi Kaina | Lady Nagant  31 Mar 2023
14    Tsutsumi Kaina | Lady Nagant  28 Mar 2023
15    Tsutsumi Kaina | Lady Nagant  31 Mar 2023
16    Tsutsumi Kaina | Lady Nagant  30 Mar 2023
17    Tsutsumi Kaina | Lady Nagant  29 Mar 2023
18    Tsutsumi Kaina | Lady Nagant  31 Mar 2023
19    Tsutsumi Kaina | Lady Nagant  31 Mar 2023
20  Lady Nagant (My Hero Academia)  02 Apr 2023
21    Tsutsumi Kaina | Lady Nagant  29 Mar 2023
22    Tsutsumi Kaina | Lady Nagant  02 Apr 2023
23    Tsutsumi Kaina | Lady Nagant  29 Mar 2023
24  Lady Nagant (My Hero Academia)  29 Mar 2023
25    Tsutsumi Kaina | Lady Nagant  31 Mar 2023
26    Tsutsumi Kaina | Lady Nagant  01 Apr 2023
27    Tsutsumi Kaina | Lady Nagant  30 Mar 2023
28    Tsutsumi Kaina | Lady Nagant  01 Apr 2023
29    Tsutsumi Kaina | Lady Nagant  01 Apr 2023
30    Tsutsumi Kaina | Lady Nagant  30 Mar 2023
31    Tsutsumi Kaina | Lady Nagant  30 Mar 2023
32    Tsutsumi Kaina | Lady Nagant  01 Apr 2023
33    Tsutsumi Kaina | Lady Nagant  01 Apr 2023

In [65]:
Camie = ['Camie']
pullcharacter(Camie, char_date)
# do not want father or mother

Utsushimi Camie             31
Utsushimi Camie's Father     1
Utsushimi Camie's Mother     1
Name: name, dtype: int64

                        name         date
0            Utsushimi Camie  01 Apr 2023
1            Utsushimi Camie  30 Mar 2023
2            Utsushimi Camie  29 Mar 2023
3            Utsushimi Camie  30 Mar 2023
4            Utsushimi Camie  01 Apr 2023
5            Utsushimi Camie  29 Mar 2023
6            Utsushimi Camie  01 Apr 2023
7            Utsushimi Camie  01 Apr 2023
8            Utsushimi Camie  31 Mar 2023
9            Utsushimi Camie  30 Mar 2023
10           Utsushimi Camie  02 Apr 2023
11           Utsushimi Camie  31 Mar 2023
12           Utsushimi Camie  02 Apr 2023
13           Utsushimi Camie  31 Mar 2023
14           Utsushimi Camie  29 Mar 2023
15  Utsushimi Camie's Father  29 Mar 2023
16  Utsushimi Camie's Mother  29 Mar 2023
17           Utsushimi Camie  30 Mar 2023
18           Utsushimi Camie  29 Mar 2023
19           Utsushimi Camie  29 Mar 2023
20           Utsushimi Camie  31 Mar 2023
21           Utsushimi Camie  02 Apr 2023
22           Utsushimi Camie  31 Mar 2023
23           Utsushimi Camie  31 Mar 2023
24           Utsushimi Camie  31 Mar 2023
25           Utsushimi Camie  30 Mar 2023
26           Utsushimi Camie  31 Mar 2023
27           Utsushimi Camie  30 Mar 2023
28           Utsushimi Camie  31 Mar 2023
29           Utsushimi Camie  31 Mar 2023
30           Utsushimi Camie  28 Mar 2023
31           Utsushimi Camie  30 Mar 2023
32           Utsushimi Camie  28 Mar 2023

In [66]:
Vlad = ['Vlad']
pullcharacter(Vlad, char_date)

Kan Sekijirou | Vlad King    30
Name: name, dtype: int64

                         name         date
0   Kan Sekijirou | Vlad King  31 Mar 2023
1   Kan Sekijirou | Vlad King  31 Mar 2023
2   Kan Sekijirou | Vlad King  29 Mar 2023
3   Kan Sekijirou | Vlad King  31 Mar 2023
4   Kan Sekijirou | Vlad King  29 Mar 2023
5   Kan Sekijirou | Vlad King  01 Apr 2023
6   Kan Sekijirou | Vlad King  31 Mar 2023
7   Kan Sekijirou | Vlad King  01 Apr 2023
8   Kan Sekijirou | Vlad King  01 Apr 2023
9   Kan Sekijirou | Vlad King  30 Mar 2023
10  Kan Sekijirou | Vlad King  28 Mar 2023
11  Kan Sekijirou | Vlad King  02 Apr 2023
12  Kan Sekijirou | Vlad King  01 Apr 2023
13  Kan Sekijirou | Vlad King  01 Apr 2023
14  Kan Sekijirou | Vlad King  29 Mar 2023
15  Kan Sekijirou | Vlad King  31 Mar 2023
16  Kan Sekijirou | Vlad King  28 Mar 2023
17  Kan Sekijirou | Vlad King  31 Mar 2023
18  Kan Sekijirou | Vlad King  31 Mar 2023
19  Kan Sekijirou | Vlad King  31 Mar 2023
20  Kan Sekijirou | Vlad King  01 Apr 2023
21  Kan Sekijirou | Vlad King  01 Apr 2023
22  Kan Sekijirou | Vlad King  29 Mar 2023
23  Kan Sekijirou | Vlad King  02 Apr 2023
24  Kan Sekijirou | Vlad King  30 Mar 2023
25  Kan Sekijirou | Vlad King  01 Apr 2023
26  Kan Sekijirou | Vlad King  01 Apr 2023
27  Kan Sekijirou | Vlad King  02 Apr 2023
28  Kan Sekijirou | Vlad King  02 Apr 2023
29  Kan Sekijirou | Vlad King  02 Apr 2023

In [67]:
Tetsu = ['Tetsutetsu']
pullcharacter(Tetsu, char_date)

Tetsutetsu Tetsutetsu    28
Name: name, dtype: int64

                     name         date
0   Tetsutetsu Tetsutetsu  28 Mar 2023
1   Tetsutetsu Tetsutetsu  29 Mar 2023
2   Tetsutetsu Tetsutetsu  29 Mar 2023
3   Tetsutetsu Tetsutetsu  30 Mar 2023
4   Tetsutetsu Tetsutetsu  29 Mar 2023
5   Tetsutetsu Tetsutetsu  30 Mar 2023
6   Tetsutetsu Tetsutetsu  01 Apr 2023
7   Tetsutetsu Tetsutetsu  29 Mar 2023
8   Tetsutetsu Tetsutetsu  02 Apr 2023
9   Tetsutetsu Tetsutetsu  30 Mar 2023
10  Tetsutetsu Tetsutetsu  31 Mar 2023
11  Tetsutetsu Tetsutetsu  01 Apr 2023
12  Tetsutetsu Tetsutetsu  31 Mar 2023
13  Tetsutetsu Tetsutetsu  01 Apr 2023
14  Tetsutetsu Tetsutetsu  30 Mar 2023
15  Tetsutetsu Tetsutetsu  31 Mar 2023
16  Tetsutetsu Tetsutetsu  28 Mar 2023
17  Tetsutetsu Tetsutetsu  30 Mar 2023
18  Tetsutetsu Tetsutetsu  28 Mar 2023
19  Tetsutetsu Tetsutetsu  28 Mar 2023
20  Tetsutetsu Tetsutetsu  28 Mar 2023
21  Tetsutetsu Tetsutetsu  31 Mar 2023
22  Tetsutetsu Tetsutetsu  02 Apr 2023
23  Tetsutetsu Tetsutetsu  31 Mar 2023
24  Tetsutetsu Tetsutetsu  02 Apr 2023
25  Tetsutetsu Tetsutetsu  28 Mar 2023
26  Tetsutetsu Tetsutetsu  31 Mar 2023
27  Tetsutetsu Tetsutetsu  02 Apr 2023

In [68]:
Nana = ['Shimura Nana']
pullcharacter(Nana, char_date)
# do not want husband

Shimura Nana              27
Shimura Nana's Husband     1
Name: name, dtype: int64

                      name         date
0             Shimura Nana  01 Apr 2023
1             Shimura Nana  01 Apr 2023
2             Shimura Nana  01 Apr 2023
3             Shimura Nana  31 Mar 2023
4   Shimura Nana's Husband  31 Mar 2023
5             Shimura Nana  02 Apr 2023
6             Shimura Nana  30 Mar 2023
7             Shimura Nana  31 Mar 2023
8             Shimura Nana  31 Mar 2023
9             Shimura Nana  31 Mar 2023
10            Shimura Nana  02 Apr 2023
11            Shimura Nana  29 Mar 2023
12            Shimura Nana  30 Mar 2023
13            Shimura Nana  31 Mar 2023
14            Shimura Nana  02 Apr 2023
15            Shimura Nana  31 Mar 2023
16            Shimura Nana  30 Mar 2023
17            Shimura Nana  01 Apr 2023
18            Shimura Nana  29 Mar 2023
19            Shimura Nana  29 Mar 2023
20            Shimura Nana  29 Mar 2023
21            Shimura Nana  30 Mar 2023
22            Shimura Nana  01 Apr 2023
23            Shimura Nana  02 Apr 2023
24            Shimura Nana  01 Apr 2023
25            Shimura Nana  29 Mar 2023
26            Shimura Nana  02 Apr 2023
27            Shimura Nana  02 Apr 2023

In [69]:
Snipe = ['Snipe']
pullcharacter(Snipe, char_date)

Snipe (My Hero Academia)    26
Name: name, dtype: int64

                        name         date
0   Snipe (My Hero Academia)  02 Apr 2023
1   Snipe (My Hero Academia)  31 Mar 2023
2   Snipe (My Hero Academia)  30 Mar 2023
3   Snipe (My Hero Academia)  31 Mar 2023
4   Snipe (My Hero Academia)  02 Apr 2023
5   Snipe (My Hero Academia)  31 Mar 2023
6   Snipe (My Hero Academia)  01 Apr 2023
7   Snipe (My Hero Academia)  01 Apr 2023
8   Snipe (My Hero Academia)  31 Mar 2023
9   Snipe (My Hero Academia)  28 Mar 2023
10  Snipe (My Hero Academia)  31 Mar 2023
11  Snipe (My Hero Academia)  29 Mar 2023
12  Snipe (My Hero Academia)  01 Apr 2023
13  Snipe (My Hero Academia)  29 Mar 2023
14  Snipe (My Hero Academia)  31 Mar 2023
15  Snipe (My Hero Academia)  01 Apr 2023
16  Snipe (My Hero Academia)  01 Apr 2023
17  Snipe (My Hero Academia)  01 Apr 2023
18  Snipe (My Hero Academia)  29 Mar 2023
19  Snipe (My Hero Academia)  30 Mar 2023
20  Snipe (My Hero Academia)  01 Apr 2023
21  Snipe (My Hero Academia)  31 Mar 2023
22  Snipe (My Hero Academia)  01 Apr 2023
23  Snipe (My Hero Academia)  02 Apr 2023
24  Snipe (My Hero Academia)  28 Mar 2023
25  Snipe (My Hero Academia)  02 Apr 2023

In [70]:
Setsuna = ['Tokage']
pullcharacter(Setsuna, char_date)

Tokage Setsuna    26
Name: name, dtype: int64

              name         date
0   Tokage Setsuna  30 Mar 2023
1   Tokage Setsuna  01 Apr 2023
2   Tokage Setsuna  01 Apr 2023
3   Tokage Setsuna  31 Mar 2023
4   Tokage Setsuna  28 Mar 2023
5   Tokage Setsuna  02 Apr 2023
6   Tokage Setsuna  29 Mar 2023
7   Tokage Setsuna  31 Mar 2023
8   Tokage Setsuna  28 Mar 2023
9   Tokage Setsuna  31 Mar 2023
10  Tokage Setsuna  29 Mar 2023
11  Tokage Setsuna  28 Mar 2023
12  Tokage Setsuna  03 Apr 2023
13  Tokage Setsuna  29 Mar 2023
14  Tokage Setsuna  31 Mar 2023
15  Tokage Setsuna  29 Mar 2023
16  Tokage Setsuna  31 Mar 2023
17  Tokage Setsuna  31 Mar 2023
18  Tokage Setsuna  30 Mar 2023
19  Tokage Setsuna  01 Apr 2023
20  Tokage Setsuna  01 Apr 2023
21  Tokage Setsuna  01 Apr 2023
22  Tokage Setsuna  31 Mar 2023
23  Tokage Setsuna  29 Mar 2023
24  Tokage Setsuna  31 Mar 2023
25  Tokage Setsuna  02 Apr 2023

In [71]:
FatGum = ['Fat Gum']
pullcharacter(FatGum, char_date)

Toyomitsu Taishirou | Fat Gum    26
Name: name, dtype: int64

                             name         date
0   Toyomitsu Taishirou | Fat Gum  30 Mar 2023
1   Toyomitsu Taishirou | Fat Gum  29 Mar 2023
2   Toyomitsu Taishirou | Fat Gum  01 Apr 2023
3   Toyomitsu Taishirou | Fat Gum  02 Apr 2023
4   Toyomitsu Taishirou | Fat Gum  02 Apr 2023
5   Toyomitsu Taishirou | Fat Gum  30 Mar 2023
6   Toyomitsu Taishirou | Fat Gum  31 Mar 2023
7   Toyomitsu Taishirou | Fat Gum  31 Mar 2023
8   Toyomitsu Taishirou | Fat Gum  30 Mar 2023
9   Toyomitsu Taishirou | Fat Gum  29 Mar 2023
10  Toyomitsu Taishirou | Fat Gum  01 Apr 2023
11  Toyomitsu Taishirou | Fat Gum  01 Apr 2023
12  Toyomitsu Taishirou | Fat Gum  30 Mar 2023
13  Toyomitsu Taishirou | Fat Gum  29 Mar 2023
14  Toyomitsu Taishirou | Fat Gum  29 Mar 2023
15  Toyomitsu Taishirou | Fat Gum  01 Apr 2023
16  Toyomitsu Taishirou | Fat Gum  02 Apr 2023
17  Toyomitsu Taishirou | Fat Gum  28 Mar 2023
18  Toyomitsu Taishirou | Fat Gum  01 Apr 2023
19  Toyomitsu Taishirou | Fat Gum  31 Mar 2023
20  Toyomitsu Taishirou | Fat Gum  29 Mar 2023
21  Toyomitsu Taishirou | Fat Gum  01 Apr 2023
22  Toyomitsu Taishirou | Fat Gum  28 Mar 2023
23  Toyomitsu Taishirou | Fat Gum  29 Mar 2023
24  Toyomitsu Taishirou | Fat Gum  29 Mar 2023
25  Toyomitsu Taishirou | Fat Gum  02 Apr 2023

In [72]:
Powerloader = ['Power Loader']
pullcharacter(Powerloader, char_date)

Maijima Higari | Power Loader    24
Name: name, dtype: int64

                             name         date
0   Maijima Higari | Power Loader  02 Apr 2023
1   Maijima Higari | Power Loader  02 Apr 2023
2   Maijima Higari | Power Loader  30 Mar 2023
3   Maijima Higari | Power Loader  28 Mar 2023
4   Maijima Higari | Power Loader  02 Apr 2023
5   Maijima Higari | Power Loader  29 Mar 2023
6   Maijima Higari | Power Loader  01 Apr 2023
7   Maijima Higari | Power Loader  01 Apr 2023
8   Maijima Higari | Power Loader  02 Apr 2023
9   Maijima Higari | Power Loader  01 Apr 2023
10  Maijima Higari | Power Loader  31 Mar 2023
11  Maijima Higari | Power Loader  01 Apr 2023
12  Maijima Higari | Power Loader  30 Mar 2023
13  Maijima Higari | Power Loader  28 Mar 2023
14  Maijima Higari | Power Loader  31 Mar 2023
15  Maijima Higari | Power Loader  02 Apr 2023
16  Maijima Higari | Power Loader  29 Mar 2023
17  Maijima Higari | Power Loader  02 Apr 2023
18  Maijima Higari | Power Loader  01 Apr 2023
19  Maijima Higari | Power Loader  31 Mar 2023
20  Maijima Higari | Power Loader  30 Mar 2023
21  Maijima Higari | Power Loader  30 Mar 2023
22  Maijima Higari | Power Loader  31 Mar 2023
23  Maijima Higari | Power Loader  02 Apr 2023

In [73]:
Magne = ['Hikiishi']
pullcharacter(Magne, char_date)

Hikiishi Kenji | Magne    24
Name: name, dtype: int64

                      name         date
0   Hikiishi Kenji | Magne  28 Mar 2023
1   Hikiishi Kenji | Magne  31 Mar 2023
2   Hikiishi Kenji | Magne  30 Mar 2023
3   Hikiishi Kenji | Magne  31 Mar 2023
4   Hikiishi Kenji | Magne  01 Apr 2023
5   Hikiishi Kenji | Magne  31 Mar 2023
6   Hikiishi Kenji | Magne  01 Apr 2023
7   Hikiishi Kenji | Magne  01 Apr 2023
8   Hikiishi Kenji | Magne  02 Apr 2023
9   Hikiishi Kenji | Magne  01 Apr 2023
10  Hikiishi Kenji | Magne  02 Apr 2023
11  Hikiishi Kenji | Magne  30 Mar 2023
12  Hikiishi Kenji | Magne  02 Apr 2023
13  Hikiishi Kenji | Magne  30 Mar 2023
14  Hikiishi Kenji | Magne  28 Mar 2023
15  Hikiishi Kenji | Magne  28 Mar 2023
16  Hikiishi Kenji | Magne  29 Mar 2023
17  Hikiishi Kenji | Magne  31 Mar 2023
18  Hikiishi Kenji | Magne  29 Mar 2023
19  Hikiishi Kenji | Magne  29 Mar 2023
20  Hikiishi Kenji | Magne  01 Apr 2023
21  Hikiishi Kenji | Magne  29 Mar 2023
22  Hikiishi Kenji | Magne  30 Mar 2023
23  Hikiishi Kenji | Magne  01 Apr 2023

In [74]:
MountLady = ['Mount Lady']
pullcharacter(MountLady, char_date)

Takeyama Yuu | Mount Lady    23
Name: name, dtype: int64

                         name         date
0   Takeyama Yuu | Mount Lady  01 Apr 2023
1   Takeyama Yuu | Mount Lady  31 Mar 2023
2   Takeyama Yuu | Mount Lady  29 Mar 2023
3   Takeyama Yuu | Mount Lady  28 Mar 2023
4   Takeyama Yuu | Mount Lady  02 Apr 2023
5   Takeyama Yuu | Mount Lady  02 Apr 2023
6   Takeyama Yuu | Mount Lady  28 Mar 2023
7   Takeyama Yuu | Mount Lady  01 Apr 2023
8   Takeyama Yuu | Mount Lady  02 Apr 2023
9   Takeyama Yuu | Mount Lady  02 Apr 2023
10  Takeyama Yuu | Mount Lady  31 Mar 2023
11  Takeyama Yuu | Mount Lady  02 Apr 2023
12  Takeyama Yuu | Mount Lady  31 Mar 2023
13  Takeyama Yuu | Mount Lady  29 Mar 2023
14  Takeyama Yuu | Mount Lady  02 Apr 2023
15  Takeyama Yuu | Mount Lady  29 Mar 2023
16  Takeyama Yuu | Mount Lady  01 Apr 2023
17  Takeyama Yuu | Mount Lady  30 Mar 2023
18  Takeyama Yuu | Mount Lady  29 Mar 2023
19  Takeyama Yuu | Mount Lady  29 Mar 2023
20  Takeyama Yuu | Mount Lady  30 Mar 2023
21  Takeyama Yuu | Mount Lady  01 Apr 2023
22  Takeyama Yuu | Mount Lady  02 Apr 2023

In [75]:
Tatsuma = ['Ryuukyuu']
pullcharacter(Tatsuma, char_date)

Tatsuma Ryuuko | Ryuukyuu    22
Name: name, dtype: int64

                         name         date
0   Tatsuma Ryuuko | Ryuukyuu  28 Mar 2023
1   Tatsuma Ryuuko | Ryuukyuu  02 Apr 2023
2   Tatsuma Ryuuko | Ryuukyuu  31 Mar 2023
3   Tatsuma Ryuuko | Ryuukyuu  31 Mar 2023
4   Tatsuma Ryuuko | Ryuukyuu  02 Apr 2023
5   Tatsuma Ryuuko | Ryuukyuu  29 Mar 2023
6   Tatsuma Ryuuko | Ryuukyuu  31 Mar 2023
7   Tatsuma Ryuuko | Ryuukyuu  31 Mar 2023
8   Tatsuma Ryuuko | Ryuukyuu  28 Mar 2023
9   Tatsuma Ryuuko | Ryuukyuu  30 Mar 2023
10  Tatsuma Ryuuko | Ryuukyuu  28 Mar 2023
11  Tatsuma Ryuuko | Ryuukyuu  29 Mar 2023
12  Tatsuma Ryuuko | Ryuukyuu  29 Mar 2023
13  Tatsuma Ryuuko | Ryuukyuu  31 Mar 2023
14  Tatsuma Ryuuko | Ryuukyuu  28 Mar 2023
15  Tatsuma Ryuuko | Ryuukyuu  30 Mar 2023
16  Tatsuma Ryuuko | Ryuukyuu  01 Apr 2023
17  Tatsuma Ryuuko | Ryuukyuu  01 Apr 2023
18  Tatsuma Ryuuko | Ryuukyuu  02 Apr 2023
19  Tatsuma Ryuuko | Ryuukyuu  30 Mar 2023
20  Tatsuma Ryuuko | Ryuukyuu  30 Mar 2023
21  Tatsuma Ryuuko | Ryuukyuu  02 Apr 2023

In [76]:
Yoichi = ['Yoichi', 'First']
pullcharacter(Yoichi, char_date)
# do not want parents

Yoichi | First One For All User (My Hero Academia)                  22
First One For All User (My Hero Academia)                            4
Sensei | All For One & Yoichi | First One For All User's Parents     2
Shigaraki Yoichi                                                     1
Name: name, dtype: int64

                                                 name         date
0   Yoichi | First One For All User (My Hero Acade...  31 Mar 2023
1   Yoichi | First One For All User (My Hero Acade...  31 Mar 2023
2   Yoichi | First One For All User (My Hero Acade...  29 Mar 2023
3   Yoichi | First One For All User (My Hero Acade...  28 Mar 2023
4   Yoichi | First One For All User (My Hero Acade...  31 Mar 2023
5   Sensei | All For One & Yoichi | First One For ...  31 Mar 2023
6   Yoichi | First One For All User (My Hero Acade...  30 Mar 2023
7   Yoichi | First One For All User (My Hero Acade...  30 Mar 2023
8   Yoichi | First One For All User (My Hero Acade...  29 Mar 2023
9   Yoichi | First One For All User (My Hero Acade...  01 Apr 2023
10          First One For All User (My Hero Academia)  02 Apr 2023
11  Yoichi | First One For All User (My Hero Acade...  29 Mar 2023
12  Yoichi | First One For All User (My Hero Acade...  30 Mar 2023
13          First One For All User (My Hero Academia)  31 Mar 2023
14  Yoichi | First One For All User (My Hero Acade...  31 Mar 2023
15          First One For All User (My Hero Academia)  31 Mar 2023
16                                   Shigaraki Yoichi  31 Mar 2023
17          First One For All User (My Hero Academia)  01 Apr 2023
18  Yoichi | First One For All User (My Hero Acade...  30 Mar 2023
19  Yoichi | First One For All User (My Hero Acade...  29 Mar 2023
20  Yoichi | First One For All User (My Hero Acade...  01 Apr 2023
21  Sensei | All For One & Yoichi | First One For ...  29 Mar 2023
22  Yoichi | First One For All User (My Hero Acade...  29 Mar 2023
23  Yoichi | First One For All User (My Hero Acade...  01 Apr 2023
24  Yoichi | First One For All User (My Hero Acade...  31 Mar 2023
25  Yoichi | First One For All User (My Hero Acade...  31 Mar 2023
26  Yoichi | First One For All User (My Hero Acade...  31 Mar 2023
27  Yoichi | First One For All User (My Hero Acade...  01 Apr 2023
28  Yoichi | First One For All User (My Hero Acade...  28 Mar 2023

In [77]:
Hound = ['Hound Dog']
pullcharacter(Hound, char_date)

Inui Ryou | Hound Dog    19
Hound Dog | Inui Ryou     1
Name: name, dtype: int64

                     name         date
0   Inui Ryou | Hound Dog  02 Apr 2023
1   Inui Ryou | Hound Dog  31 Mar 2023
2   Hound Dog | Inui Ryou  01 Apr 2023
3   Inui Ryou | Hound Dog  28 Mar 2023
4   Inui Ryou | Hound Dog  29 Mar 2023
5   Inui Ryou | Hound Dog  02 Apr 2023
6   Inui Ryou | Hound Dog  31 Mar 2023
7   Inui Ryou | Hound Dog  31 Mar 2023
8   Inui Ryou | Hound Dog  01 Apr 2023
9   Inui Ryou | Hound Dog  30 Mar 2023
10  Inui Ryou | Hound Dog  01 Apr 2023
11  Inui Ryou | Hound Dog  01 Apr 2023
12  Inui Ryou | Hound Dog  02 Apr 2023
13  Inui Ryou | Hound Dog  29 Mar 2023
14  Inui Ryou | Hound Dog  01 Apr 2023
15  Inui Ryou | Hound Dog  30 Mar 2023
16  Inui Ryou | Hound Dog  31 Mar 2023
17  Inui Ryou | Hound Dog  02 Apr 2023
18  Inui Ryou | Hound Dog  01 Apr 2023
19  Inui Ryou | Hound Dog  02 Apr 2023

In [78]:
inasa = ['Inasa']
pullcharacter(inasa, char_date)
# do not want mentioned

Yoarashi Inasa                          19
Mentioned Yoarashi Inasa - Character     1
Name: name, dtype: int64

                                    name         date
0   Mentioned Yoarashi Inasa - Character  01 Apr 2023
1                         Yoarashi Inasa  29 Mar 2023
2                         Yoarashi Inasa  01 Apr 2023
3                         Yoarashi Inasa  01 Apr 2023
4                         Yoarashi Inasa  31 Mar 2023
5                         Yoarashi Inasa  31 Mar 2023
6                         Yoarashi Inasa  31 Mar 2023
7                         Yoarashi Inasa  02 Apr 2023
8                         Yoarashi Inasa  28 Mar 2023
9                         Yoarashi Inasa  30 Mar 2023
10                        Yoarashi Inasa  02 Apr 2023
11                        Yoarashi Inasa  28 Mar 2023
12                        Yoarashi Inasa  31 Mar 2023
13                        Yoarashi Inasa  01 Apr 2023
14                        Yoarashi Inasa  28 Mar 2023
15                        Yoarashi Inasa  02 Apr 2023
16                        Yoarashi Inasa  30 Mar 2023
17                        Yoarashi Inasa  31 Mar 2023
18                        Yoarashi Inasa  01 Apr 2023
19                        Yoarashi Inasa  30 Mar 2023

In [79]:
Kodai = ['Kodai']
pullcharacter(Kodai, char_date)

Kodai Yui    18
Name: name, dtype: int64

         name         date
0   Kodai Yui  31 Mar 2023
1   Kodai Yui  01 Apr 2023
2   Kodai Yui  28 Mar 2023
3   Kodai Yui  01 Apr 2023
4   Kodai Yui  31 Mar 2023
5   Kodai Yui  30 Mar 2023
6   Kodai Yui  28 Mar 2023
7   Kodai Yui  01 Apr 2023
8   Kodai Yui  29 Mar 2023
9   Kodai Yui  31 Mar 2023
10  Kodai Yui  29 Mar 2023
11  Kodai Yui  29 Mar 2023
12  Kodai Yui  01 Apr 2023
13  Kodai Yui  28 Mar 2023
14  Kodai Yui  01 Apr 2023
15  Kodai Yui  29 Mar 2023
16  Kodai Yui  29 Mar 2023
17  Kodai Yui  02 Apr 2023

In [80]:
Kamui = ['Woods']
pullcharacter(Kamui, char_date)

Nishiya Shinji | Kamui Woods    18
Name: name, dtype: int64

                            name         date
0   Nishiya Shinji | Kamui Woods  01 Apr 2023
1   Nishiya Shinji | Kamui Woods  31 Mar 2023
2   Nishiya Shinji | Kamui Woods  28 Mar 2023
3   Nishiya Shinji | Kamui Woods  02 Apr 2023
4   Nishiya Shinji | Kamui Woods  28 Mar 2023
5   Nishiya Shinji | Kamui Woods  01 Apr 2023
6   Nishiya Shinji | Kamui Woods  31 Mar 2023
7   Nishiya Shinji | Kamui Woods  02 Apr 2023
8   Nishiya Shinji | Kamui Woods  28 Mar 2023
9   Nishiya Shinji | Kamui Woods  02 Apr 2023
10  Nishiya Shinji | Kamui Woods  02 Apr 2023
11  Nishiya Shinji | Kamui Woods  01 Apr 2023
12  Nishiya Shinji | Kamui Woods  01 Apr 2023
13  Nishiya Shinji | Kamui Woods  28 Mar 2023
14  Nishiya Shinji | Kamui Woods  01 Apr 2023
15  Nishiya Shinji | Kamui Woods  02 Apr 2023
16  Nishiya Shinji | Kamui Woods  29 Mar 2023
17  Nishiya Shinji | Kamui Woods  02 Apr 2023

In [81]:
Ken = ['Ishiyama']
pullcharacter(Ken, char_date)

Ishiyama Ken | Cementoss    18
Name: name, dtype: int64

                        name         date
0   Ishiyama Ken | Cementoss  30 Mar 2023
1   Ishiyama Ken | Cementoss  02 Apr 2023
2   Ishiyama Ken | Cementoss  31 Mar 2023
3   Ishiyama Ken | Cementoss  30 Mar 2023
4   Ishiyama Ken | Cementoss  31 Mar 2023
5   Ishiyama Ken | Cementoss  30 Mar 2023
6   Ishiyama Ken | Cementoss  01 Apr 2023
7   Ishiyama Ken | Cementoss  02 Apr 2023
8   Ishiyama Ken | Cementoss  29 Mar 2023
9   Ishiyama Ken | Cementoss  29 Mar 2023
10  Ishiyama Ken | Cementoss  31 Mar 2023
11  Ishiyama Ken | Cementoss  01 Apr 2023
12  Ishiyama Ken | Cementoss  01 Apr 2023
13  Ishiyama Ken | Cementoss  01 Apr 2023
14  Ishiyama Ken | Cementoss  01 Apr 2023
15  Ishiyama Ken | Cementoss  30 Mar 2023
16  Ishiyama Ken | Cementoss  02 Apr 2023
17  Ishiyama Ken | Cementoss  02 Apr 2023

In [82]:
Edgeshot = ['Edgeshot']
pullcharacter(Edgeshot, char_date)

Kamihara Shinya | Edgeshot    17
Name: name, dtype: int64

                          name         date
0   Kamihara Shinya | Edgeshot  01 Apr 2023
1   Kamihara Shinya | Edgeshot  30 Mar 2023
2   Kamihara Shinya | Edgeshot  02 Apr 2023
3   Kamihara Shinya | Edgeshot  28 Mar 2023
4   Kamihara Shinya | Edgeshot  30 Mar 2023
5   Kamihara Shinya | Edgeshot  01 Apr 2023
6   Kamihara Shinya | Edgeshot  31 Mar 2023
7   Kamihara Shinya | Edgeshot  31 Mar 2023
8   Kamihara Shinya | Edgeshot  02 Apr 2023
9   Kamihara Shinya | Edgeshot  31 Mar 2023
10  Kamihara Shinya | Edgeshot  01 Apr 2023
11  Kamihara Shinya | Edgeshot  31 Mar 2023
12  Kamihara Shinya | Edgeshot  01 Apr 2023
13  Kamihara Shinya | Edgeshot  29 Mar 2023
14  Kamihara Shinya | Edgeshot  01 Apr 2023
15  Kamihara Shinya | Edgeshot  02 Apr 2023
16  Kamihara Shinya | Edgeshot  29 Mar 2023

In [83]:
Ibara = ['Ibara']
pullcharacter(Ibara, char_date)

Shiozaki Ibara    16
Name: name, dtype: int64

              name         date
0   Shiozaki Ibara  30 Mar 2023
1   Shiozaki Ibara  31 Mar 2023
2   Shiozaki Ibara  28 Mar 2023
3   Shiozaki Ibara  28 Mar 2023
4   Shiozaki Ibara  01 Apr 2023
5   Shiozaki Ibara  28 Mar 2023
6   Shiozaki Ibara  28 Mar 2023
7   Shiozaki Ibara  31 Mar 2023
8   Shiozaki Ibara  31 Mar 2023
9   Shiozaki Ibara  28 Mar 2023
10  Shiozaki Ibara  29 Mar 2023
11  Shiozaki Ibara  31 Mar 2023
12  Shiozaki Ibara  02 Apr 2023
13  Shiozaki Ibara  31 Mar 2023
14  Shiozaki Ibara  01 Apr 2023
15  Shiozaki Ibara  02 Apr 2023

In [84]:
Pony = ['Tsunotori Pony']
pullcharacter(Pony, char_date)
# do not want mother

Tsunotori Pony             15
Tsunotori Pony's Mother     1
Name: name, dtype: int64

                       name         date
0            Tsunotori Pony  01 Apr 2023
1            Tsunotori Pony  31 Mar 2023
2            Tsunotori Pony  01 Apr 2023
3            Tsunotori Pony  01 Apr 2023
4            Tsunotori Pony  28 Mar 2023
5            Tsunotori Pony  01 Apr 2023
6            Tsunotori Pony  31 Mar 2023
7            Tsunotori Pony  29 Mar 2023
8            Tsunotori Pony  31 Mar 2023
9            Tsunotori Pony  30 Mar 2023
10  Tsunotori Pony's Mother  30 Mar 2023
11           Tsunotori Pony  28 Mar 2023
12           Tsunotori Pony  31 Mar 2023
13           Tsunotori Pony  29 Mar 2023
14           Tsunotori Pony  31 Mar 2023
15           Tsunotori Pony  02 Apr 2023

In [85]:
Ujiko = ['Garaki', 'Kyuudai', 'Ujiko', 'Daruma']
pullcharacter(Ujiko, char_date)
# remove mentioned

Garaki Kyuudai | Ujiko Daruma                          15
Dr. Kyudai Garaki                                       1
Mentioned Garaki Kyuudai | Ujiko Daruma - Character     1
Name: name, dtype: int64

                                                 name         date
0                                   Dr. Kyudai Garaki  29 Mar 2023
1                       Garaki Kyuudai | Ujiko Daruma  31 Mar 2023
2                       Garaki Kyuudai | Ujiko Daruma  30 Mar 2023
3                       Garaki Kyuudai | Ujiko Daruma  30 Mar 2023
4                       Garaki Kyuudai | Ujiko Daruma  29 Mar 2023
5                       Garaki Kyuudai | Ujiko Daruma  28 Mar 2023
6                       Garaki Kyuudai | Ujiko Daruma  30 Mar 2023
7                       Garaki Kyuudai | Ujiko Daruma  30 Mar 2023
8                       Garaki Kyuudai | Ujiko Daruma  31 Mar 2023
9                       Garaki Kyuudai | Ujiko Daruma  29 Mar 2023
10                      Garaki Kyuudai | Ujiko Daruma  30 Mar 2023
11                      Garaki Kyuudai | Ujiko Daruma  30 Mar 2023
12                      Garaki Kyuudai | Ujiko Daruma  30 Mar 2023
13                      Garaki Kyuudai | Ujiko Daruma  01 Apr 2023
14                      Garaki Kyuudai | Ujiko Daruma  31 Mar 2023
15                      Garaki Kyuudai | Ujiko Daruma  29 Mar 2023
16  Mentioned Garaki Kyuudai | Ujiko Daruma - Char...  31 Mar 2023

In [86]:
Reiko = ['Yanagi']
pullcharacter(Reiko, char_date)

Yanagi Reiko    15
Name: name, dtype: int64

            name         date
0   Yanagi Reiko  01 Apr 2023
1   Yanagi Reiko  30 Mar 2023
2   Yanagi Reiko  28 Mar 2023
3   Yanagi Reiko  01 Apr 2023
4   Yanagi Reiko  29 Mar 2023
5   Yanagi Reiko  31 Mar 2023
6   Yanagi Reiko  29 Mar 2023
7   Yanagi Reiko  31 Mar 2023
8   Yanagi Reiko  30 Mar 2023
9   Yanagi Reiko  28 Mar 2023
10  Yanagi Reiko  02 Apr 2023
11  Yanagi Reiko  30 Mar 2023
12  Yanagi Reiko  01 Apr 2023
13  Yanagi Reiko  01 Apr 2023
14  Yanagi Reiko  02 Apr 2023

In [87]:
Ectoplasm = ['Ectoplasm']
pullcharacter(Ectoplasm, char_date)

Ectoplasm (My Hero Academia)    15
Name: name, dtype: int64

                            name         date
0   Ectoplasm (My Hero Academia)  30 Mar 2023
1   Ectoplasm (My Hero Academia)  31 Mar 2023
2   Ectoplasm (My Hero Academia)  31 Mar 2023
3   Ectoplasm (My Hero Academia)  30 Mar 2023
4   Ectoplasm (My Hero Academia)  31 Mar 2023
5   Ectoplasm (My Hero Academia)  02 Apr 2023
6   Ectoplasm (My Hero Academia)  02 Apr 2023
7   Ectoplasm (My Hero Academia)  01 Apr 2023
8   Ectoplasm (My Hero Academia)  28 Mar 2023
9   Ectoplasm (My Hero Academia)  31 Mar 2023
10  Ectoplasm (My Hero Academia)  01 Apr 2023
11  Ectoplasm (My Hero Academia)  01 Apr 2023
12  Ectoplasm (My Hero Academia)  01 Apr 2023
13  Ectoplasm (My Hero Academia)  30 Mar 2023
14  Ectoplasm (My Hero Academia)  02 Apr 2023

In [88]:
Giran = ['Giran']
pullcharacter(Giran, char_date)

Okuta Kagerou | Giran    14
Name: name, dtype: int64

                     name         date
0   Okuta Kagerou | Giran  30 Mar 2023
1   Okuta Kagerou | Giran  30 Mar 2023
2   Okuta Kagerou | Giran  01 Apr 2023
3   Okuta Kagerou | Giran  30 Mar 2023
4   Okuta Kagerou | Giran  02 Apr 2023
5   Okuta Kagerou | Giran  31 Mar 2023
6   Okuta Kagerou | Giran  02 Apr 2023
7   Okuta Kagerou | Giran  01 Apr 2023
8   Okuta Kagerou | Giran  01 Apr 2023
9   Okuta Kagerou | Giran  31 Mar 2023
10  Okuta Kagerou | Giran  30 Mar 2023
11  Okuta Kagerou | Giran  01 Apr 2023
12  Okuta Kagerou | Giran  30 Mar 2023
13  Okuta Kagerou | Giran  01 Apr 2023

In [89]:
Kinoko = ['Kinoko']
pullcharacter(Kinoko, char_date)

Komori Kinoko    12
Name: name, dtype: int64

             name         date
0   Komori Kinoko  30 Mar 2023
1   Komori Kinoko  01 Apr 2023
2   Komori Kinoko  30 Mar 2023
3   Komori Kinoko  02 Apr 2023
4   Komori Kinoko  28 Mar 2023
5   Komori Kinoko  31 Mar 2023
6   Komori Kinoko  29 Mar 2023
7   Komori Kinoko  28 Mar 2023
8   Komori Kinoko  29 Mar 2023
9   Komori Kinoko  01 Apr 2023
10  Komori Kinoko  31 Mar 2023
11  Komori Kinoko  02 Apr 2023

In [90]:
David = ['David Shield']
pullcharacter(David, char_date)

David Shield    12
Name: name, dtype: int64

            name         date
0   David Shield  02 Apr 2023
1   David Shield  02 Apr 2023
2   David Shield  28 Mar 2023
3   David Shield  01 Apr 2023
4   David Shield  31 Mar 2023
5   David Shield  02 Apr 2023
6   David Shield  30 Mar 2023
7   David Shield  29 Mar 2023
8   David Shield  29 Mar 2023
9   David Shield  29 Mar 2023
10  David Shield  01 Apr 2023
11  David Shield  01 Apr 2023

In [91]:
shindou = ['Shindou You']
pullcharacter(shindou, char_date)

Shindou You    12
Name: name, dtype: int64

           name         date
0   Shindou You  01 Apr 2023
1   Shindou You  01 Apr 2023
2   Shindou You  02 Apr 2023
3   Shindou You  29 Mar 2023
4   Shindou You  02 Apr 2023
5   Shindou You  31 Mar 2023
6   Shindou You  30 Mar 2023
7   Shindou You  02 Apr 2023
8   Shindou You  29 Mar 2023
9   Shindou You  01 Apr 2023
10  Shindou You  31 Mar 2023
11  Shindou You  30 Mar 2023

In [92]:
Destro = ['Re-Destro']
pullcharacter(Destro, char_date)

Yotsubashi Rikiya | Re-Destro    11
Name: name, dtype: int64

                             name         date
0   Yotsubashi Rikiya | Re-Destro  01 Apr 2023
1   Yotsubashi Rikiya | Re-Destro  31 Mar 2023
2   Yotsubashi Rikiya | Re-Destro  28 Mar 2023
3   Yotsubashi Rikiya | Re-Destro  31 Mar 2023
4   Yotsubashi Rikiya | Re-Destro  03 Apr 2023
5   Yotsubashi Rikiya | Re-Destro  30 Mar 2023
6   Yotsubashi Rikiya | Re-Destro  01 Apr 2023
7   Yotsubashi Rikiya | Re-Destro  30 Mar 2023
8   Yotsubashi Rikiya | Re-Destro  01 Apr 2023
9   Yotsubashi Rikiya | Re-Destro  31 Mar 2023
10  Yotsubashi Rikiya | Re-Destro  29 Mar 2023

In [93]:
Burnin = ['Burnin']
pullcharacter(Burnin, char_date)

Kamiji Moe | Burnin    11
Name: name, dtype: int64

                   name         date
0   Kamiji Moe | Burnin  30 Mar 2023
1   Kamiji Moe | Burnin  29 Mar 2023
2   Kamiji Moe | Burnin  29 Mar 2023
3   Kamiji Moe | Burnin  30 Mar 2023
4   Kamiji Moe | Burnin  31 Mar 2023
5   Kamiji Moe | Burnin  31 Mar 2023
6   Kamiji Moe | Burnin  31 Mar 2023
7   Kamiji Moe | Burnin  31 Mar 2023
8   Kamiji Moe | Burnin  01 Apr 2023
9   Kamiji Moe | Burnin  01 Apr 2023
10  Kamiji Moe | Burnin  01 Apr 2023

In [94]:
adj_characters = [s for s in char_date if not any(xs in s[0] for xs in dont_want)]
adj_characters

[['Aizawa Shouta', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Bakugou Katsuki', '30 Mar 2023'],
 ['Nedzu (My Hero Academia)', '30 Mar 2023'],
 ['Shinsou Hitoshi', '30 Mar 2023'],
 ['Kirishima Eijirou', '30 Mar 2023'],
 ['Kaminari Denki', '30 Mar 2023'],
 ['Sero Hanta', '30 Mar 2023'],
 ['Ashido Mina', '30 Mar 2023'],
 ['Asui Tsuyu', '30 Mar 2023'],
 ['Iida Tenya', '30 Mar 2023'],
 ['Todoroki Shouto', '30 Mar 2023'],
 ['Uraraka Ochako', '30 Mar 2023'],
 ['Shouji Mezou', '30 Mar 2023'],
 ['Tokoyami Fumikage', '30 Mar 2023'],
 ['Dark Shadow (My Hero Academia)', '30 Mar 2023'],
 ['Aoyama Yuuga', '30 Mar 2023'],
 ['Hagakure Tooru', '30 Mar 2023'],
 ['Ojiro Mashirao', '30 Mar 2023'],
 ['Satou Rikidou', '30 Mar 2023'],
 ['Yaoyorozu Momo', '30 Mar 2023'],
 ['Toga Himiko', '30 Mar 2023'],
 ['Mineta Minoru', '30 Mar 2023'],
 ['Jirou Kyouka', '30 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '30 Mar 2023'],
 ['Class 1-B (My Hero Academia)', '30 Mar 2023'],
 ['Aizawa Shouta', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Yagi Toshinori | All Might', '30 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '30 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '30 Mar 2023'],
 ['Nedzu (My Hero Academia)', '30 Mar 2023'],
 ['Tsukauchi Naomasa', '30 Mar 2023'],
 ['Shuuzenji Chiyo | Recovery Girl', '30 Mar 2023'],
 ['Kayama Nemuri | Midnight', '30 Mar 2023'],
 ['Midoriya Inko', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '28 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '28 Mar 2023'],
 ['Bakugou Katsuki', '28 Mar 2023'],
 ['Ashido Mina', '28 Mar 2023'],
 ['Kirishima Eijirou', '28 Mar 2023'],
 ['Sero Hanta', '28 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '28 Mar 2023'],
 ['Midoriya Izuku', '28 Mar 2023'],
 ['Todoroki Shouto', '28 Mar 2023'],
 ['Yaoyorozu Momo', '28 Mar 2023'],
 ['Asui Tsuyu', '28 Mar 2023'],
 ['Nico di Angelo', '28 Mar 2023'],
 ['Kaminari Denki', '28 Mar 2023'],
 ['Jirou Kyouka', '28 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Kirishima Eijirou', '31 Mar 2023'],
 ['Dabi | Todoroki Touya', '31 Mar 2023'],
 ['Takami Keigo | Hawks', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Bakugou Katsuki', '01 Apr 2023'],
 ['Kirishima Eijirou', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Todoroki Shouto', '01 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '28 Mar 2023'],
 ['Bakugou Katsuki', '28 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '28 Mar 2023'],
 ['Yagi Toshinori | All Might', '28 Mar 2023'],
 ['Shinsou Hitoshi', '28 Mar 2023'],
 ['Todoroki Shouto', '28 Mar 2023'],
 ['Eri (My Hero Academia)', '28 Mar 2023'],
 ['Kirishima Eijirou', '28 Mar 2023'],
 ['Tokoyami Fumikage', '28 Mar 2023'],
 ['Dark Shadow (My Hero Academia)', '28 Mar 2023'],
 ['Ashido Mina', '28 Mar 2023'],
 ['Kaminari Denki', '28 Mar 2023'],
 ['Sero Hanta', '28 Mar 2023'],
 ['Jirou Kyouka', '28 Mar 2023'],
 ['Monoma Neito', '28 Mar 2023'],
 ['Midoriya Izuku', '28 Mar 2023'],
 ['Yaoyorozu Momo', '28 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '28 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Bibi | Zombie', '30 Mar 2023'],
 ['Shinsou Hitoshi', '30 Mar 2023'],
 ['Ishida Asuka | Lullaby', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Chisaki Kai | Overhaul', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Kurono Hari | Chronostasis', '31 Mar 2023'],
 ['Yagi Toshinori | All Might', '31 Mar 2023'],
 ['Todoroki Enji | Endeavor', '31 Mar 2023'],
 ['Dabi (My Hero Academia)', '31 Mar 2023'],
 ['Takami Keigo | Hawks', '31 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '02 Apr 2023'],
 ['Class 1-A (My Hero Academia)', '02 Apr 2023'],
 ['Aoyama Yuuga', '02 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Fukukado Emi | Ms. Joke', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '02 Apr 2023'],
 ['Fukukado Emi | Ms. Joke', '02 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '02 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Hyuuga Hinata', '01 Apr 2023'],
 ['Tsukauchi Naomasa', '01 Apr 2023'],
 ['Yagi Toshinori | All Might', '01 Apr 2023'],
 ['Nedzu (My Hero Academia)', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Bakugou Katsuki', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Kayama Nemuri | Midnight', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Midoriya Inko', '31 Mar 2023'],
 ['Nedzu (My Hero Academia)', '31 Mar 2023'],
 ['Shuuzenji Chiyo | Recovery Girl', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Kayama Nemuri | Midnight', '30 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '30 Mar 2023'],
 ['The Ouran High School Host Club', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '28 Mar 2023'],
 ['Kochou Shinobu', '28 Mar 2023'],
 ['Amajiki Tamaki', '28 Mar 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '28 Mar 2023'],
 ['Kurogiri (My Hero Academia)', '28 Mar 2023'],
 ['Douma (Kimetsu no Yaiba)', '28 Mar 2023'],
 ['Rengoku Kyoujurou', '28 Mar 2023'],
 ['Yushiro (Kimetsu no Yaiba)', '28 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '28 Mar 2023'],
 ['Hadou Nejire', '28 Mar 2023'],
 ['Toogata Mirio', '28 Mar 2023'],
 ['Dabi | Todoroki Touya', '28 Mar 2023'],
 ['Akaguro Chizome | Stain', '28 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Ashido Mina', '30 Mar 2023'],
 ['Sero Hanta', '30 Mar 2023'],
 ['Kaminari Denki', '30 Mar 2023'],
 ['Yagi Toshinori | All Might', '30 Mar 2023'],
 ['Bakugou Mitsuki', '30 Mar 2023'],
 ['Bakugou Masaru', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Midoriya Izuku', '29 Mar 2023'],
 ['Bakugou Katsuki', '29 Mar 2023'],
 ['Shinsou Hitoshi', '29 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '29 Mar 2023'],
 ['Александр Духовенов', '29 Mar 2023'],
 ['Иван(Иванна) Зелен', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Bakugou Katsuki', '30 Mar 2023'],
 ['Todoroki Shouto', '30 Mar 2023'],
 ['Yagi Toshinori | All Might', '30 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '30 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '30 Mar 2023'],
 ['Asui Tsuyu', '30 Mar 2023'],
 ['Uraraka Ochako', '30 Mar 2023'],
 ['Tokoyami Fumikage', '30 Mar 2023'],
 ['Toogata Mirio', '30 Mar 2023'],
 ['Eri (My Hero Academia)', '30 Mar 2023'],
 ['Kayama Nemuri | Midnight', '30 Mar 2023'],
 ['Ectoplasm (My Hero Academia)', '30 Mar 2023'],
 ['Ishiyama Ken | Cementoss', '30 Mar 2023'],
 ['Kirishima Eijirou', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Bakugou Katsuki', '30 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Bakugou Katsuki', '30 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '30 Mar 2023'],
 ['Midoriya Inko', '30 Mar 2023'],
 ['Nezu', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Yagi Toshinori | All Might', '31 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '31 Mar 2023'],
 ['Shinsou Hitoshi', '31 Mar 2023'],
 ['Todoroki Shouto', '31 Mar 2023'],
 ['Kaminari Denki', '31 Mar 2023'],
 ['Sero Hanta', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Class 1-A (My Hero Academia)', '01 Apr 2023'],
 ['Bakugou Katsuki', '01 Apr 2023'],
 ['Todoroki Shouto', '01 Apr 2023'],
 ['Shinsou Hitoshi', '01 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '01 Apr 2023'],
 ['Shirakumo Oboro', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Midoriya Inko', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Todoroki Shouto', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Midoriya Hisashi', '31 Mar 2023'],
 ['Tsukauchi Naomasa', '31 Mar 2023'],
 ['Yagi Toshinori | All Might', '31 Mar 2023'],
 ['Nedzu (My Hero Academia)', '31 Mar 2023'],
 ['Shinsou Hitoshi', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Midoriya Inko', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Yagi Toshinori | All Might', '31 Mar 2023'],
 ['Nedzu (My Hero Academia)', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '28 Mar 2023'],
 ['Midoriya Izuku', '28 Mar 2023'],
 ['Midoriya Inko', '28 Mar 2023'],
 ['Bakugou Katsuki', '28 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '28 Mar 2023'],
 ['Dabi (My Hero Academia)', '28 Mar 2023'],
 ['Toga Himiko', '28 Mar 2023'],
 ['Tsukauchi Naomasa', '28 Mar 2023'],
 ['Kayama Nemuri | Midnight', '28 Mar 2023'],
 ['Nedzu (My Hero Academia)', '28 Mar 2023'],
 ['Bakugou Mitsuki', '28 Mar 2023'],
 ['Yagi Toshinori | All Might', '28 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '28 Mar 2023'],
 ['Hatsume Mei', '28 Mar 2023'],
 ['Shinsou Hitoshi', '28 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Nedzu (My Hero Academia)', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Nezu', '01 Apr 2023'],
 ['Yagi Toshinori | All Might', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '02 Apr 2023'],
 ['Midoriya Izuku', '02 Apr 2023'],
 ['Shinsou Hitoshi', '02 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '02 Apr 2023'],
 ['Shirakumo Oboro', '02 Apr 2023'],
 ['Kayama Nemuri | Midnight', '02 Apr 2023'],
 ['Iida Tensei | Ingenium', '02 Apr 2023'],
 ['Midoriya Inko', '02 Apr 2023'],
 ['Bakugou Katsuki', '02 Apr 2023'],
 ['Ashido Mina', '02 Apr 2023'],
 ['Hatsume Mei', '02 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Tsukauchi Naomasa', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Tsukauchi Naomasa', '01 Apr 2023'],
 ['Midoriya Inko', '01 Apr 2023'],
 ['Bakugou Mitsuki', '01 Apr 2023'],
 ['Bakugou Katsuki', '01 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '01 Apr 2023'],
 ['Kayama Nemuri | Midnight', '01 Apr 2023'],
 ['Iida Tensei | Ingenium', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Tsukauchi Naomasa', '31 Mar 2023'],
 ['Nedzu (My Hero Academia)', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Tsukauchi Naomasa', '01 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Midoriya Izuku', '01 Apr 2023'],
 ['Yagi Toshinori | All Might', '01 Apr 2023'],
 ['Death Arms (My Hero Academia)', '01 Apr 2023'],
 ['Takeyama Yuu | Mount Lady', '01 Apr 2023'],
 ['Nishiya Shinji | Kamui Woods', '01 Apr 2023'],
 ['Kamihara Shinya | Edgeshot', '01 Apr 2023'],
 ['Slugger (My Hero Academia)', '01 Apr 2023'],
 ['Uraraka Ochako', '01 Apr 2023'],
 ['Iida Tenya', '01 Apr 2023'],
 ['Asui Tsuyu', '01 Apr 2023'],
 ['Todoroki Shouto', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Midoriya Izuku', '29 Mar 2023'],
 ['Yagi Toshinori | All Might', '29 Mar 2023'],
 ['Midoriya Inko', '29 Mar 2023'],
 ['Bakugou Katsuki', '29 Mar 2023'],
 ['Aoyama Yuuga', '29 Mar 2023'],
 ['Chisaki Kai | Overhaul', '29 Mar 2023'],
 ['Akaguro Chizome | Stain', '29 Mar 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '29 Mar 2023'],
 ['Sensei | All For One', '29 Mar 2023'],
 ['Gran Torino (My Hero Academia)', '29 Mar 2023'],
 ['Tsukauchi Naomasa', '29 Mar 2023'],
 ['Shinsou Hitoshi', '29 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '29 Mar 2023'],
 ['Nedzu (My Hero Academia)', '29 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '29 Mar 2023'],
 ['Kayama Nemuri | Midnight', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Kirishima Eijirou', '31 Mar 2023'],
 ['Hatsume Mei', '31 Mar 2023'],
 ['Shinsou Hitoshi', '31 Mar 2023'],
 ['Kaminari Denki', '31 Mar 2023'],
 ['Todoroki Shouto', '31 Mar 2023'],
 ['Uraraka Ochako', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Midoriya Izuku', '29 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '29 Mar 2023'],
 ['Chisaki Kai | Overhaul', '29 Mar 2023'],
 ['Sensei | All For One', '29 Mar 2023'],
 ['Akaguro Chizome | Stain', '29 Mar 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Kayama Nemuri | Midnight', '31 Mar 2023'],
 ['Midoriya Inko', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Nara Shikako', '01 Apr 2023'],
 ['Class 1-A (My Hero Academia)', '01 Apr 2023'],
 ['Hero Public Safety Commission President (My Hero Academia)', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Nezu', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '02 Apr 2023'],
 ['Reader', '02 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Reader', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Reader', '29 Mar 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '29 Mar 2023'],
 ['Dabi (My Hero Academia)', '29 Mar 2023'],
 ['Toga Himiko', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Roy Mustang', '31 Mar 2023'],
 ['Edward Elric', '31 Mar 2023'],
 ['Team Mustang', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Sensei | All For One', '01 Apr 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '01 Apr 2023'],
 ['Kurogiri (My Hero Academia)', '01 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '01 Apr 2023'],
 ['League of Villains (My Hero Academia)', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '02 Apr 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '02 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '02 Apr 2023'],
 ['Kayama Nemuri | Midnight', '02 Apr 2023'],
 ['Dabi | Todoroki Touya', '02 Apr 2023'],
 ['Fukukado Emi | Ms. Joke', '02 Apr 2023'],
 ['Iida Tensei | Ingenium', '02 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Shinsou Hitoshi', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '28 Mar 2023'],
 ['Shinsou Hitoshi', '28 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Shinsou Hitoshi', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Shirakumo Oboro', '01 Apr 2023'],
 ['Shinsou Hitoshi', '01 Apr 2023'],
 ['Chisaki Kai | Overhaul', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Shirakumo Oboro', '01 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '01 Apr 2023'],
 ['Iida Tensei | Ingenium', '01 Apr 2023'],
 ['Kayama Nemuri | Midnight', '01 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Shirakumo Oboro', '29 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '29 Mar 2023'],
 ['Kayama Nemuri | Midnight', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Shuuzenji Chiyo | Recovery Girl', '31 Mar 2023'],
 ['Midoriya Inko', '31 Mar 2023'],
 ['Todoroki Enji | Endeavor', '31 Mar 2023'],
 ['Fukukado Emi | Ms. Joke', '31 Mar 2023'],
 ['Shiketsu High Students (My Hero Academia)', '31 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Todoroki Enji | Endeavor', '30 Mar 2023'],
 ['Todoroki Shouto', '30 Mar 2023'],
 ['Dabi | Todoroki Touya', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Todoroki Rei', '29 Mar 2023'],
 ['Todoroki Shouto', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Todoroki Shouto', '31 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '31 Mar 2023'],
 ['Eri (My Hero Academia)', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Todoroki Shouto', '31 Mar 2023'],
 ['Midoriya Izuku', '31 Mar 2023'],
 ['Bakugou Katsuki', '31 Mar 2023'],
 ['Kirishima Eijirou', '31 Mar 2023'],
 ['Kaminari Denki', '31 Mar 2023'],
 ['Asui Tsuyu', '31 Mar 2023'],
 ['Uraraka Ochako', '31 Mar 2023'],
 ['Yaoyorozu Momo', '31 Mar 2023'],
 ['Iida Tenya', '31 Mar 2023'],
 ['Todoroki Enji | Endeavor', '31 Mar 2023'],
 ['Hiccup Horrendous Haddock III', '31 Mar 2023'],
 ['Astrid Hofferson', '31 Mar 2023'],
 ['Snotlout Jorgenson', '31 Mar 2023'],
 ['Fishlegs Ingerman', '31 Mar 2023'],
 ['Ruffnut Thorston', '31 Mar 2023'],
 ['Tuffnut Thorston', '31 Mar 2023'],
 ['Shoji Mezo', '31 Mar 2023'],
 ['Koji Koda', '31 Mar 2023'],
 ['Tokoyami Fumikage', '31 Mar 2023'],
 ['Mineta Minoru', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Todoroki Shouto', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '30 Mar 2023'],
 ['Tsukauchi Naomasa', '30 Mar 2023'],
 ['Midoriya Izuku', '30 Mar 2023'],
 ['Bakugou Katsuki', '30 Mar 2023'],
 ['Tamakawa Sansa', '30 Mar 2023'],
 ['Yagi Toshinori | All Might', '30 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '29 Mar 2023'],
 ['Tsukauchi Naomasa', '29 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '29 Mar 2023'],
 ['Takagi Ken | Rock Lock', '29 Mar 2023'],
 ['Class 1-A (My Hero Academia)', '29 Mar 2023'],
 ['U.A. Faculty (My Hero Academia)', '29 Mar 2023'],
 ["U.A.'s Big Three (My Hero Academia)", '29 Mar 2023'],
 ['Chisaki Kai | Overhaul', '29 Mar 2023'],
 ['Eri (My Hero Academia)', '29 Mar 2023'],
 ['League of Villains (My Hero Academia)', '29 Mar 2023'],
 ['Sensei | All For One', '29 Mar 2023'],
 ['Musutafu Police Department Officers (My Hero Academia)', '29 Mar 2023'],
 ['Fukukado Emi | Ms. Joke', '29 Mar 2023'],
 ['Pro Heroes (My Hero Academia)', '29 Mar 2023'],
 ['Shinsou Hitoshi', '29 Mar 2023'],
 ['Kaniyashiki Monika', '29 Mar 2023'],
 ['Yagi Toshinori | All Might', '29 Mar 2023'],
 ['Hagakure Tooru', '29 Mar 2023'],
 ['Dr. Kyudai Garaki', '29 Mar 2023'],
 ['Midoriya Izuku', '29 Mar 2023'],
 ['Midoriya Inko', '29 Mar 2023'],
 ['Yaoyorozu Momo', '29 Mar 2023'],
 ['Selkie (My Hero Academia)', '29 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '02 Apr 2023'],
 ['Yagi Toshinori | All Might', '02 Apr 2023'],
 ['Nedzu (My Hero Academia)', '02 Apr 2023'],
 ['Yamada Hizashi | Present Mic', '02 Apr 2023'],
 ['Kayama Nemuri | Midnight', '02 Apr 2023'],
 ['Snipe (My Hero Academia)', '02 Apr 2023'],
 ['Maijima Higari | Power Loader', '02 Apr 2023'],
 ['Ishiyama Ken | Cementoss', '02 Apr 2023'],
 ['Inui Ryou | Hound Dog', '02 Apr 2023'],
 ['Midoriya Izuku', '02 Apr 2023'],
 ['Bakugou Katsuki', '02 Apr 2023'],
 ['Todoroki Shouto', '02 Apr 2023'],
 ['Shinsou Hitoshi', '02 Apr 2023'],
 ['Uraraka Ochako', '02 Apr 2023'],
 ['Shigaraki Tomura | Shimura Tenko', '02 Apr 2023'],
 ['Sensei | All For One', '02 Apr 2023'],
 ['Tsukauchi Naomasa', '02 Apr 2023'],
 ['Shuuzenji Chiyo | Recovery Girl', '02 Apr 2023'],
 ['Takami Keigo | Hawks', '02 Apr 2023'],
 ['Todoroki Enji | Endeavor', '02 Apr 2023'],
 ['Dabi | Todoroki Touya', '02 Apr 2023'],
 ['Toga Himiko', '02 Apr 2023'],
 ['Class 1-A (My Hero Academia)', '02 Apr 2023'],
 ['Aizawa Shouta | Eraserhead', '31 Mar 2023'],
 ['Yagi Toshinori | All Might', '31 Mar 2023'],
 ['Nezu', '31 Mar 2023'],
 ['Yamada Hizashi | Present Mic', '31 Mar 2023'],
 ['Kayama Nemuri | Midnight', '31 Mar 2023'],
 ['Aizawa Shouta | Eraserhead', '01 Apr 2023'],
 ['Yagi Toshinori | All Might', '01 Apr 2023'],
 ['Nicolas Brown', '01 Apr 2023'],
 ['Worick Arcangelo', '01 Apr 2023'],

In [98]:
myhero_characters = []

for sublist in character_mha:
    for element in sublist:
        myhero_characters.append(element)

In [103]:
my_hero_characters = pd.DataFrame([s for s in adj_characters if any(xs in s[0] for xs in myhero_characters)])

In [104]:
my_hero_characters.columns = ['name', 'date']

In [107]:
my_hero_characters

                               name         date
0                     Aizawa Shouta  30 Mar 2023
1                    Midoriya Izuku  30 Mar 2023
2                   Bakugou Katsuki  30 Mar 2023
3                   Shinsou Hitoshi  30 Mar 2023
4                    Kaminari Denki  30 Mar 2023
...                             ...          ...
12642  Yamada Hizashi | Present Mic  01 Apr 2023
12643                Izuku Midoriya  01 Apr 2023
12644                   Himiko Toga  01 Apr 2023
12645                Uraraka Ochako  01 Apr 2023
12646               Todoroki Shouto  01 Apr 2023

[12647 rows x 2 columns]

In [109]:
my_hero_characters.to_csv('mha_names_with_date', index = False)