In [3]:
#Import libraries
from bs4 import BeautifulSoup
import time
import urllib.request
import pandas as pd

In [4]:
ships = pd.read_csv('shipsviadate.csv')
ships

                                                  ships        dates
0                   (Slight) Todoroki Shouto/Iida Tenya  02 Apr 2023
1     Aiba Manami | La Brava & Midoriya Izuku & Tobi...  29 Mar 2023
2                Midoriya Izuku & Original Character(s)  29 Mar 2023
3                          Hatsume Mei & Midoriya Izuku  29 Mar 2023
4     Aiba Manami | La Brava/Tobita Danjuurou | Gent...  02 Apr 2023
...                                                 ...          ...
7341                            none for the time being  01 Apr 2023
7342                                           none yet  01 Apr 2023
7343                                        to be added  28 Mar 2023
7344                             unknown - Relationship  31 Mar 2023
7345                               Asmodeus Alice/Gaako  31 Mar 2023

[7346 rows x 2 columns]

In [5]:
ships_mha = []
def pullcharacter(names, ship_date):
    ships_mha.append(names)
    names = pd.DataFrame([s for s in ship_date if any(xs in s[0] for xs in names)], columns = ['ships', 'Date'])
    print(names['ships'].value_counts())
    return(names)

In [6]:
ship = ships.values.tolist()

In [8]:
ship_count = ships['ships'].value_counts()

In [9]:
ship_count.head()

Bakugou Katsuki/Midoriya Izuku                             293
Aizawa Shouta | Eraserhead/Yamada Hizashi | Present Mic    257
Bakugou Katsuki & Midoriya Izuku                           191
Aizawa Shouta | Eraserhead & Midoriya Izuku                169
Bakugou Katsuki/Kirishima Eijirou                          150
Name: ships, dtype: int64

In [10]:
names = pd.read_csv('myhero_names.csv')

In [13]:
names['Character'] = names['1']

In [15]:
names.set_index('Character')

,1,2,3,4
Character,,,,
Aizawa,Aizawa,Shotua,Eraserhead,NaN
Deku,Deku,Midoriya Izuku,Izuku,NaN
Katsuki,Katsuki,Bakugou Katsuki,Bakugo Katsuki,Katsuki Bakugou
Todoroki Shoto,Todoroki Shoto,Todoroki Shouto,NaN,NaN
All Might,All Might,NaN,NaN,NaN
...,...,...,...,...
Kinoko,Kinoko,NaN,NaN,NaN
David Shield,David Shield,NaN,NaN,NaN
Shindou You,Shindou You,NaN,NaN,NaN
Re-Destro,Re-Destro,NaN,NaN,NaN
Burnin,Burnin,NaN,NaN,NaN